header, .ctrl-bar, .breadcrumbs {
  display: none;
}
section.banner {
  max-height: 1cm;
}
.row, table {
  page-break-after:avoid;
  page-break-inside:avoid
}

/* @page {
  size: A4 portrait;
  margin: 0.5cm;
  orphans: 2;
  widows: 2;
}
body{
  width: 100%;
  margin: 0;
  line-height: 1.25;
  font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid;
  page-break-inside:avoid
}
h1+p, h2+p, h3+p {
  page-break-before: avoid;
}
img {
  page-break-after: avoid;
  page-break-inside: avoid;
}
table, blockquote {
  page-break-inside: avoid;
}
ul, ol, dl, p {
  page-break-before:avoid;
}
 */

