.editor h5 {
  color: #555;
}

.editor img {
  width: 90%;
  max-width: 800px;
}

/* chip--wrapper */
#chip--wrapper img {
  object-fit: cover;
  width: 65%;
  transition: .2s linear;
}

#chip--wrapper img:hover {
  transform: scale(1.1);
}

#chip--wrapper a {
  position: relative;
}

/* features */
.feature--table img {
  max-width: 96px;
  padding-bottom: 0;
}

/* application--wrapper */
#application--wrapper > div {
  margin-bottom: 40px;
}

#application--wrapper img {
  padding-bottom: 5px;
  max-width: 105px;
}

#application--wrapper span {
  color: #999;
  display: block;
  font-weight: bold;
  text-align: center;
}

/* downloads */
.dl-option-wrap {
  display: flex;
  flex-wrap: wrap;
}

.dl-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.3%;
}

.dl-option span {
  font-size: 12px;
}

.btn-outline-primary:hover {
  color: #fff !important;
}

table.download-table td {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

table.download-table td img {
  padding-bottom: 0;
}

table.download-table td[data-th='Download'] {
  text-align: center;
}

/* corporate-citizenship */
.corporate-citizenship--wrapper {
  padding-top: 3vw;
  padding-bottom: 3vw;
}

.corporate-citizenship--wrapper .sec-pd {
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.cc-card--row h4 {
  min-height: 66px;
}

.corporate-citizenship-item--card {
  display: flex;
  flex-direction: column;
  transition: .5s;
}

.corporate-citizenship-item--card:hover {
  transform: translateY(-10px);
}

.corporate-citizenship-item--card img {
  width: 100%;
  object-fit: cover;
}

.corporate-citizenship-chart-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

ul.corporate-citizenship-community-support {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

ul.corporate-citizenship-community-support li {
  width: 33.3%;
  padding-left: 0;
}

ul.corporate-citizenship-community-support li::before {
  display: none;
}

ul.corporate-citizenship-community-support li a {
  height: 120px;
  display: flex;
  align-items: center;
}

ul.corporate-citizenship-community-support li img {
  width: 75%;
  max-height: 120px;
  object-fit: contain;
}

.keymericTableWrapper {
  width: 100%;
}

.keymericTable tr td:not(:first-child) {
  text-align: right;
}

.keymericTable tr.underline td {
  border-bottom: 2px solid #888;
}

.keymericTable th, .keymericTable td {
  padding: .5rem .75rem !important;
}

.keymericTable th {
  background: lightblue;
  color: #111;
  font-weight: bold;
}

.keymericTable td {
  font-weight: normal !important;
}

.yt--wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
}

.yt--wrapper iframe {
  width: 100%;
  height: 100%;
}

.yt--note {
  text-align: center;
  padding: 16px;
}

.more-info .info {
  display: flex;
  align-items: center;
}

.more-info .info .item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.more-info .info .item img {
  width: 25px;
  padding-bottom: 0;
}

.ir-table th, .ir-table td {
  padding: .5rem !important;
}

.ir-table img {
  max-width: 25px;
  padding-bottom: 0;
}

.ir-table th img {
  display: inline-block;
}

/* Powered by SMI menu */
.applications-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(19%, 120px, 33.3%));
  justify-content: space-between;
  gap: 20px 10px;
  width: 100%;
  margin-bottom: 40px;
}

.applications-menu > li {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  border: 1px solid #999;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  justify-content: flex-start;
}

.applications-menu > li > a {
  padding-bottom: 8px;
  height: 100%;
}

.applications-menu > li > a img {
  width: 100%;
  max-width: 72px;
  max-height: 72px;
  filter: grayscale(100%);
}

.applications-menu > li span {
  color: #555;
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
}

.applications-menu > li:hover {
  background: #efefef;
  border: 1px solid #0071bc;
  transition: all .3s linear;
}

.applications-menu > li:hover span {
  color: #0071bc;
}

.applications-menu > li:hover img {
  filter: none;
}

.submenu-wrapper {
  background: #0071bc;
  border-radius: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .1s, top 0s;
}

.submenu-wrapper.show {
  visibility: visible;
  opacity: 1;
}

.applications-submenu {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.applications-submenu li {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 50%;
}

.applications-submenu li::marker {
  color: #00ecec;
}

.applications-submenu li a, .applications-submenu li div {
  color: #eee;
  line-height: 1.5;
  flex: 1;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.applications-submenu li a img, .applications-submenu li div img {
  background: #fff;
  border-radius: 5px;
  float: left;
  max-width: 120px;
  max-height: 90px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  transition: .3s;
}

.applications-submenu li a .app-product--title, .applications-submenu li div .app-product--title {
  color: #fff;
  font-size: .9rem;
}

.applications-submenu li a:hover img, .applications-submenu li div:hover img {
  transform: scale(1.05);
}

.applications-submenu li a:hover .app-product--title, .applications-submenu li div:hover .app-product--title {
  color: #00ecec;
}

.submenu-close {
  position: absolute;
  display: grid;
  place-items: center;
  background: #005e9c;
  top: 10px;
  right: 10px;
  font-size: 1.25rem;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

/* RWD */
/* IR-table layout fix */
@media (max-width: 991px) {
  .cc-card--row h4 {
    min-height: auto;
  }
  .ir-table {
    padding-bottom: 1rem;
  }
  .ir-table td[data-th]:before {
    color: #666;
    width: 80%;
    padding-left: 5%;
    font-size: 0.9rem;
  }
}

@media (max-width: 960px) {
  ul.corporate-citizenship-community-support li {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .submenu-wrapper {
    padding: 1.5rem 0rem 1rem;
  }
}

@media (max-width: 640px) {
  #application--wrapper > div {
    width: 50%;
  }
  .dl-option {
    width: 100%;
    margin-bottom: 16px;
  }
  ul.corporate-citizenship-community-support li {
    width: 50%;
  }
  .applications-submenu li {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .keymericTable {
    font-size: 13px !important;
  }
  .keymericTable th, .keymericTable td {
    padding: .5rem !important;
  }
  .applications-menu {
    grid-template-columns: repeat(auto-fill, 30%);
  }
  .applications-submenu li a img, .applications-submenu li div img {
    max-width: 100px;
  }
}
/*# sourceMappingURL=style-add.css.map */