.editor {
  h5 {
    color: #555;
  }
  // img {
  //   width: 90%;
  //   max-width: 800px;
  // }
}
/* chip--wrapper */
#chip--wrapper {
  img {
    object-fit: cover;
    width: 65%;
    transition: .2s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
  a {
    position: relative;
  }
}
/* features */
.feature--table {
  img {
    max-width: 96px;
    padding-bottom: 0;
  }
}

/* application--wrapper */
#application--wrapper {
  & > div {
    margin-bottom: 40px;
  }
  img {
    padding-bottom: 5px;
    max-width: 105px;
  }
  span {
    color: #999;
    display: block;
    font-weight: bold;
    text-align: center;
  }
}

/* downloads */
.dl-option-wrap {
  display: flex;
  flex-wrap: wrap;
}
.dl-option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.3%;
  span {
    font-size: 12px;
  }
}
.btn-outline-primary:hover {
  color: #fff !important;
}
table.download-table {
  td {
    padding-top: .75rem;
    padding-bottom: .75rem;
    img {
      padding-bottom: 0;
    }
    &[data-th='Download'] {
      text-align: center;
    }
  }
}

/* corporate-citizenship */
.corporate-citizenship--wrapper {
  padding-top: 3vw;
  padding-bottom: 3vw;
  .sec-pd {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
}
.cc-card--row h4 {
  min-height: 66px;
}
.corporate-citizenship-item--card {
  display: flex;
  flex-direction: column;
  transition: .5s;
  &:hover {
    transform: translateY(-10px);
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.corporate-citizenship-chart-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
ul.corporate-citizenship-community-support {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    width: 33.3%;
    padding-left: 0;
    &::before {
      display: none;
    }
    a {
      height: 120px;
      display: flex;
      align-items: center;
    }
    img {
      width: 75%;
      max-height: 120px;
      object-fit: contain;
    }
  }
}
.keymericTableWrapper {
  width: 100%;
}
.keymericTable {
  tr {
    td:not(:first-child) {
      text-align: right;
    }
    &.underline {
      td {
        border-bottom: 2px solid #888;
      }
    }
  }
  th, td {
    padding: .5rem .75rem !important;
  }
  th {
    background: lightblue;
    color: #111;
    font-weight: bold;
  }
  td {
    font-weight: normal !important;
  }
}
.yt--wrapper {
  width: 100%;
  text-align: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 16 / 9;
  iframe {
    width:100%;
    height:100%;
  }
}
.yt--note {
  text-align: center;
  padding: 16px;
}
.more-info {
  .info {
    display: flex;
    align-items: center;
    .item {
      display: flex;
      align-items: center;
      margin-right: 10px;
      img {
        width: 25px;
        padding-bottom: 0;
      }
    }
  }
}

.ir-table {
  th, td {
    padding: .5rem !important;
  }
  img {
    max-width: 25px;
    padding-bottom: 0;
  }
  th {
    img {
      display: inline-block;
    }
  }
}
/* Powered by SMI menu */
.applications-menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, clamp(19%, 120px, 33.3%));
  justify-content: space-between;
  gap: 20px 10px;
  width: 100%;
  margin-bottom: 40px;
  & > li {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    justify-content: flex-start;
    & > a {
      padding-bottom: 8px;
      height: 100%;
      img {
        width: 100%;
        max-width: 96px;
        max-height: 96px;
        filter: grayscale(100%);
      }
    }
    span {
      color: #555;
      font-size: 0.8rem;
      text-align: center;
      width: 100%;
      // position: absolute;
      // bottom: 5px;
    }
    
    &:hover {
      background: #efefef;
      border: 1px solid #0071bc;
      transition: all .3s linear;
      span {
        color: #0071bc;
      }
      img {
        filter: none;
      }
    }
  }
}
.submenu-wrapper {
  background: #0071bc;
  border-radius: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .1s, top 0s;
  &.show {
    visibility: visible;
    opacity: 1;
  }
}
.applications-submenu {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 50%;
    &::marker {
      color: rgb(0, 236, 236);
    }
    
    a, div {
      color: #eee;
      line-height: 1.5;
      flex: 1;
      padding-left: 10px;
      display: flex;
      align-items: center;
      img {
        background: #fff;
        border-radius: 5px;
        float: left;
        // min-width: 120px;
        // min-height: 90px;
        width: 120px;
        height: 90px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
        transition: .3s;
      }
      .app-product--title {
        color: #fff;
        font-size: .9rem;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
        .app-product--title {
          color: rgb(0, 236, 236);
        }
      }  
    }  
  }
  .submenu-row {
    border-bottom: 1px solid rgba(255,255,255,.2);
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
      border-radius: 1rem;
      display: block;
      padding: 0 0 1rem 0;
      &:hover {
        background: rgb(29, 100, 158);
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .submenu-group-title, .submenu-product-title  {
    color: #fff !important;
  }

  .submenu-group-title {
    font-size: 1.4rem;
  }
  .submenu-product-title  {
    font-size: .9rem;
  }
  .submenu-product-img {
    width: 96px;
  }
}
.submenu-close {
  position: absolute;
  display: grid;
  place-items: center;
  background: #005e9c;
  top: 10px;
  right: 10px;
  font-size: 1.25rem;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  &:hover {
  }
}
.submenu-overlay {
  background: rgba(100, 100, 100, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 991;
}
/* Applications 頁面樣式 */
.smi-app--group {
  h2 {
    color: #004186;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 3vw;
  }
  .applications-menu {
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fill, clamp(24%, 270px, 48%));
    li {
      padding: 1rem .5rem;
    }
  }
}
/* Application - Automotive 頁面樣式 */
#tab-portfolio {
  button {
    &.nav-link {
      border: none;
      color: inherit;
      font-size: 1.25rem;
      width: calc(100% / 3);
      &.active {
        color: #004186;
        font-weight: bold;
        border-bottom: 3px solid #3cb6f8;
      }
    }
  }
}
#automotive-certifications {
  .card-img-top {
    width: 100%;
    max-width: 260px;
  }
}
#automotive-portfolio {
  .card-img-top {
    width: 100%;
    max-width: 300px;
  }
}
/* Automotive連結卡片 */
.link--card {
  background: #010b15 url(../../application/images/automotive-link-banner.jpg) no-repeat right bottom; 
  background-size: cover; 
  display: block; 
  width: 100%; 
  height: 200px; 
  margin-top: 1rem;
  padding: 3.5rem 6%; 
  border-radius: 1rem;
  a {
    border: 1px solid #ddd; 
    display: inline-block; 
    padding: .5rem 1.5rem; 
    text-align: center; 
    color: #ddd;
    &:hover {
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
.link--card--title {
  color: #fff; 
  font-size: clamp(1.5rem, 2vw, 1.75rem); 
  font-weight: bold; 
  margin-bottom: 32px;
}
/* RWD */
/* IR-table layout fix */
@media (max-width: 991px) {
  .cc-card--row h4 {
    min-height: auto;
  }
  .ir-table {
    padding-bottom: 1rem;
    td[data-th]:before {
      color: #666;
      width: 80%;
      padding-left: 5%;
      font-size: 0.9rem;
    }
  }
}
@media (max-width: 960px) {
  ul.corporate-citizenship-community-support {
    li {
      width: 33.3%;
    }
  }
}
@media (max-width: 768px) {
  .submenu-wrapper {
    padding: 1.5rem 0rem 1rem;
  }
}
@media (max-width: 640px) {
  #application--wrapper > div {
    width: 50%;
  }
  .dl-option {
    width: 100%;
    margin-bottom: 16px;
  }
  ul.corporate-citizenship-community-support {
    li {
      width: 50%;
    }
  }
  .applications-submenu li {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .keymericTable {
    font-size: 13px !important;
    th, td {
      padding: .5rem !important;
    }
  }
  .applications-menu {
    grid-template-columns: repeat(auto-fill, 30%);
    & > li {
      & > a {
        img {
          width: 72px;
          height: 72px;
        }
      }
    }
  }
  .applications-submenu {
    li {
      a, div {
        img {
          width: 100px;
        }
      }
    }
  }
}