<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Applications - Automotive - Silicon Motion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Silicon Motion is the global leader in supplying NAND flash controllers for solid state storage devices and the merchant leader in supplying SSD controllers. We also supply customized high-performance hyperscale data center and industrial SSD solutions.">
  <meta name="keywords" content="Silicon Motion, Silicon Motion, Inc., Semiconductor">
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  <meta name="robots" content="all" />
  <link rel="shortcut icon" href="https://www.siliconmotion.com/images/favicon.ico">
  <link rel="canonical" href="https://www.siliconmotion.com/applications/" />
  <link rel="alternate" hreflang="en" href="https://www.siliconmotion.com/applications/" />
  <link rel="alternate" hreflang="zh-TW" href="https://www.siliconmotion.com/cht/applications/" />
  <link rel="alternate" hreflang="zh-CN" href="https://www.siliconmotion.com/chs/applications/" />
  <link rel="alternate" hreflang="ja" href="https://www.siliconmotion.com/jp/applications/" />
  <link rel="alternate" hreflang="ko" href="https://www.siliconmotion.com/kr/applications/" />
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta property="og:description"
    content="Silicon Motion is the global leader in supplying NAND flash controllers for solid state storage devices and the merchant leader in supplying SSD controllers. We also supply customized high-performance hyperscale data center and industrial SSD solutions." />
  <meta property="og:site_name" content="Silicon Motion" />
  <meta property="og:title" content="Applications - Silicon Motion" />
  <meta property="og:image" content="https://www.siliconmotion.com/images/facebookShare.jpg" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.siliconmotion.com/images/touch-icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.siliconmotion.com/images/touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.siliconmotion.com/images/touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.siliconmotion.com/images/touch-icon-57.png">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="https://www.siliconmotion.com/css/style.css" rel="stylesheet">
  <link href="https://www.siliconmotion.com/css/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://www.siliconmotion.com/dist/spinners.css" rel="stylesheet">
  <link href="css/style-add.css" rel="stylesheet">
  <style>
    i.fa-file-pdf {
      color: #e37a7a;
      margin-left: 4px;
    }
  </style>

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NM9NG4W');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM9NG4W" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainheader">
    <div class="ctrl-bar">
      <div class="in-box container">
        <a class="logo" href="https://www.siliconmotion.com"></a>
        <div class="main-menu">
          <nav class="p-menu dot-menu">
            <ul id="oe_menu" class="mainmenu">
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)" title="PRODUCTS">PRODUCTS</a>
                <section class="dropmenu pro-nav">

                  <div class="container pro-menu pro-menu-dest">
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Flash Controllers</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Storage Solutions</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Ferri Embedded Storage"
                              href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-xs">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-xs">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Others</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Graphics SoC/GPU" target=""
                            href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                            <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                          </a>
                          <ul class="pro-menu-list">
                            <li class="pro-menu-item">
                              <a title="USB Display" href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">USB Display</a>
                            </li>
                            <li class="pro-menu-item">
                              <a title="Embedded GPU" href="https://www.siliconmotion.com/product/Embedded-GPU.html">Embedded GPU</a>
                            </li>
                          </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container pro-menu pro-menu-mobile scrollCusmb mCustomScrollbar" data-mcs-theme="theme">
                    <div class="d-flex">
                      <div>
                        <span class="title title-md">Flash Controllers</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Storage Solutions</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Ferri Embedded Storage"
                              href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-sm">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-sm">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>

                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Others</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Graphics SoC/GPU" target=""
                              href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="USB Display" href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">USB Display</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Embedded GPU" href="https://www.siliconmotion.com/product/Embedded-GPU.html">Embedded GPU</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </section>
              </li>
              <li class="nav-col active">
                <a class="navItem" href="applications.html">APPLICATIONS</a>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">COMPANY</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Our Company</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/overview"
                            title="Overview">Overview</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/leadership"
                            title="Leadership">Leadership</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://siliconmotiontechnologycorporation.gcs-web.com/"
                            title="Investors">Investors</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/careers"
                            title="Careers">Careers</a>
                        </li>


                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/corporate"
                            title="Corporate Citizenship">Corporate Citizenship</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Media</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/press"
                            title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/upcoming"
                            title="Events">Events</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Contact</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/locations"
                            title="Locations">Locations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">SUPPORT</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Partner</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/sales"
                            title="Distributors/Sales">Distributors/Sales</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/registers/entrance"
                            title="Channel Partner Portal">Channel Partner Portal</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Resources</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/download"
                            title="Download Center">Download Center</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Service</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/contact"
                            title="Contact Us">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
            <div class="header-icon mb"></div>
          </nav>
        </div>
        <div class="minor-menu">
          <div class="header-icon pc">
            <div class="login">
              <a class="now" href="javascript:loginShow();">
                <span>LOGIN</span>
                <i class="icon-login"></i>
              </a>
              <section id="dropmenu-member" class="dropmenu-member">
                <div class="top">
                  <h2 class="title title-lg">Channel Partner Portal Login</h2>
                  <form method="POST" action="https://www.siliconmotion.com/auth/login" accept-charset="UTF-8"
                    @submit="checkLogin"><input name="_token" type="hidden"
                      value="lEQHxxFMg2bufd0Kd0YyCqCYf7uuX7z7TTFHA2VM">
                    <div class="form-group">
                      <label class="col-form-label" for="username">Username：</label>
                      <div class="position-relative">
                        <input id="username" name="email" class="form-control" type="text"
                          placeholder="please enter your email" v-model="username">
                        <small v-show="username_check">required</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="password">Password：</label>
                      <div class="position-relative">
                        <input id="password" name="password" class="form-control" type="password" v-model="password">
                        <small v-show="password_check">required</small>
                      </div>
                    </div>
                    <div class="login-btn-group">
                      <div class="btn btn-bg-primary btn-radius">
                        <button type="submit">Login</button>
                      </div>
                      <a href="https://www.siliconmotion.com/password/forget">Forget password?</a>
                    </div>
                  </form>
                </div>
                <div class="bottom bg-gray">
                  <a class="btn btn-bg-primary btn-radius" href="https://www.siliconmotion.com/registers/entrance"
                    title="Register">Register</a>
                </div>
              </section>
            </div>
            <a class="contact" href="https://www.siliconmotion.com/support/contact" title="CONTACT">
              <span>CONTACT</span>
              <i class="icon-contact"></i>
            </a>
            <div class="lang">
              <div class="now">
                <a href="javascript:void(0)">
                  <i class="icon-lang"></i>
                </a>
              </div>
              <div class="list">
                <a class="changeLang active" href="javascript:;" data-lang="en" title="EN">English</a>
                <a class="changeLang" href="https://www.siliconmotion.com/application/cht/applications-automotive.html"
                  data-lang="cht" title="CHT">繁中</a>
                <a class="changeLang" href="https://www.siliconmotion.com/application/chs/applications-automotive.html"
                  data-lang="chs" title="CHS">简中</a>
                <a class="changeLang" href="https://www.siliconmotion.com/application/jp/applications-automotive.html"
                  data-lang="jp" title="JPN">日本語</a>
                <a class="changeLang" href="https://www.siliconmotion.com/application/kr/applications-automotive.html"
                  data-lang="kr" title="KOR">한국어</a>
              </div>
            </div>
            <a class="search" href="javascript:void(0)">
              <i class="fas fa-search search-icon"></i>
              <form method="get" action="https://www.siliconmotion.com/search">
                <input class="line-input str" type="text" name="q" placeholder="Keywords">
              </form>
              <span class="cls-search"><i class="fas fa-times-circle"></i></span>
            </a>
          </div>
          <div class="mobi-cover"></div>
          <div class="js-cls--btn">
            <a href="javascript:void(0)" class="navTrigger"><i></i><i></i><i></i></a>
          </div>
        </div>
      </div>
      <script src="https://www.siliconmotion.com/dist/login.js"></script>
    </div>
  </header>
  <main>
    <section class="banner sec-pd js-fillbg "
      style="background-image: url( images/banner_automotive.jpg);background-position: center right;">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h2 class="title title-xl fc-white">Automotive</h2>
          </div>
        </div>
      </div>
    </section>
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumb-list">
          <li class="item">
            <a href="https://www.siliconmotion.com">Home</a>
          </li>
          <li class="item">
            <a href="https://www.siliconmotion.com/application/applications.html">Applications</a>
          </li>
          <li class="item active"><a href="javascript:;">Automotive</a></li>
        </ul>
      </div>
    </div>

    <div class="scrolltosec pt-0 pt-sm-3 pt-md-5 pt-xl-9">

      <section id="pro-1" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor row">
            <h3>Driving Automotive Innovation</h3>
            <p class="mb-8">The industry is rapidly transforming with technology driving innovation, automotive standards shaping requirements, and consumer preferences changing demands. Since the car on the road is now its own data center, the need for data storage has grown exponentially — and so has the role of NAND flash to support mission-critical functions in automotive applications and entertainment features.</p>
            <p class="mb-8">For future autonomous driving, the demand for fast, high-capacity storage propels the development of embedded products along with the requirement for a higher-end transmission system and a larger storage unit.</p>
          </div>
          <div class="row">
            <img class="img-fluid mb-5" src="images/Automotive-statics.jpg" alt="">
            <p>As electronic content becomes a larger and larger part of the vehicle, storage technologies employing NAND flash must be able to ensure optimized performance, reliability, and longevity. Silicon Motion provides dependable high-performance automotive-grade storage solutions, including controllers and single-chip solutions for in-vehicle infotainment, navigation, ADAS, DVR, and autonomous driving applications.</p>
          </div>
        </div>
      </section>

      <section id="pro-2" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor row">
            <h3>NAND Storage Products for Automotive Applications</h3>
            <img class="img-fluid mb-5" src="images/Automotive-applications.jpg" alt="">
            <h4>With over 20 years of experience in developing specialized processor ICs that manage NAND components, our expertise delivers best-in-class automotive-grade storage solutions.</h4>
          </div>
        </div>
      </section>

      <section id="pro-3" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor">
            <div class="row">
              <h3>Storage for Automotive-Grade Standards</h3>
              <img class="img-fluid" src="images/Automotive-grade-standards.jpg" alt="">
            </div>
            <div class="row mb-6">
              <h3>Accelerating the Future Technology of Data Storage in the Automotive</h3>
              <p>In Domain Architecture, systems are grouped by their specific functions—such as Drivetrain, Connectivity, ADAS, and Infotainment—and are distributed throughout the vehicle based on their specialized roles.</p>
              <p>However, the industry is expected to accelerate toward a "Centralized & Zone Architecture" In this approach, systems are organized by their physical location within the vehicle. Each zone acts as a hub, responsible for electronic control units (ECUs) that serve as zonal gateways. Not only does this facilitate easier software updates for improving functionality or adding new features, but these zonal gateways can also serve as powerful edge computing systems. They are capable of swiftly processing and responding to critical events, enhancing both safety and performance.</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-column align-items-center">
                  <h5>Doman Architecture</h5>
                  <h3>Now</h3>
                  <img src="../images/Automotive_Doman-Architecture.png" alt="" width="450">
                  <ul>
                    <li>Higher Cost</li>
                    <li>Easier to migrate from the conventional architecture.</li>
                    <li>Each domain can be talked through a gateway and share the data</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-column align-items-center">
                  <h5>Centralized & Zone Architecture</h5>
                  <h3>2027+</h3>
                  <img src="../images/Automotive_Centralized-Architecture.png" alt="" width="450">
                  <ul>
                    <li>Lower Cost</li>
                    <li>Easier migration from PCIe switch with SRIOV SSD</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="pro-4" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor row">
            <h3>Dedicated Automotive Service and Quality Support</h3>
          </div>
          <div id="automotive-certifications" class="row justify-content-center mb-10">
            <div class="col-md-4 col-sm-6">
              <div class="card p-3">
                <img class="card-img-top" src="images/Automotive-badge-AEC-Q100.png" alt="">
                <div class="card-body">
                  <h3 class="card-title text-center">AEC-Q100 Grade 3/2</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="card p-3">
                <img class="card-img-top" src="images/Automotive-badge-ISO.png" alt="">
                <div class="card-body">
                  <h3 class="card-title text-center">ISO 26262</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="card p-3">
                <img class="card-img-top" src="images/Automotive-badge-IATF-16949.png" alt="">
                <div class="card-body">
                  <h3 class="card-title text-center">Supplier chain certification by IATF 16949</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <p>All of our automotive-grade flash products undergo rigorous testing to meet the qualifications that the industry and our customers demand, including AEC-Q100 compliance, ISO 26262, ISO21434, and Supplier Chain Certification by IATF 16949 certification. In addition, Silicon Motion provides product supply longevity to reduce costs for additional qualifications.</p>
          </div>
        </div>
      </section>

      <section id="pro-5" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor row">
            <h3>Our Automotive Storage Portfolio</h3>
            <p>Silicon Motion's automotive storage eMMC, UFS, auto-grade SSD controller and automotive removable storage device have emerged in the automotive storage market.</p>
          </div>
          <div id="automotive-portfolio" class="row mt-10">
            <div class="col-12">
              <nav>
                <div id="tab-portfolio" class="nav nav-tabs" id="nav-tab">
                  <button class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-flashController">Flash
                    Controllers</button>
                  <button class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-storageSolutions">Storage
                    Solutions</button>
                  <button class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-others">Others</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-flashController">
                  <div class="row mb-10">
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/products/automotive/detail"><img class="card-img-top"
                            src="images/Automotive-BGA-SSD.png" alt=""></a>
                        <h3 class="card-title mb-2">BGA SSD Controller</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>SATA/PCIe NVMe</li>
                            <li>SR-IOV Support</li>
                            <li>Temperature: -40°C to +85°C/-40°C to +105°C</li>
                            <li>Support 32GB to 1TB</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/products/eMMC/detail"><img class="card-img-top"
                            src="images/Automotive-eMMC.png" alt=""></a>
                        <h3 class="card-title">eMMC Controller</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>eMMC 4.5/5.0/5.1</li>
                            <li>100/153 balls supported</li>
                            <li>Temperature: -40°C to +85°C/-40°C to +105°C</li>
                            <li>Support 4GB to 256GB</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/products/UFS/detail"><img class="card-img-top"
                            src="images/Automotive-UFS.png" alt=""></a>
                        <h3 class="card-title">UFS Controller</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>UFS 2.1/3.1</li>
                            <li>Automotive-grade endurance and performance</li>
                            <li>Write Booster</li>
                            <li>Host Performance Booster</li>
                            <li>Temperature: -40°C to +105°C</li>
                            <li>Support 32GB to 512GB</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/products/Flash-Card/detail"><img class="card-img-top"
                            src="images/Automotive-SD-card.png" alt=""></a>
                        <h3 class="card-title">Flash Card Controller</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>SDA SD3.0/5.0/6.1 compliant</li>
                            <li>Automotive-grade endurance and performance</li>
                            <li>Temperature: -40°C to +85°C</li>
                            <li>Support 32GB to 512GB</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-storageSolutions">
                  <div class="row mb-10 justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html"><img
                            class="card-img-top" src="images/Automotive-FerriSSD.png" alt=""></a>
                        <h3 class="card-title mb-2">FerriSSD</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>SATA/PCIe NVMe</li>
                            <li>16mm x 20mm BGA</li>
                            <li>Support 5GB to 480GB</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html"><img
                            class="card-img-top" src="images/Automotive-FerriUFS.png" alt=""></a>
                        <h3 class="card-title mb-2">Ferri-UFS</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>UFS 3.1/2.2 </li>
                            <li>153-ball BGA</li>
                            <li>Support 32GB to 512GB</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html"><img
                            class="card-img-top" src="images/Automotive-FerrieMMC.png" alt=""></a>
                        <h3 class="card-title mb-2">Ferri-eMMC</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>eMMC 4.5/5.0/5.1</li>
                            <li>100/153-ball BGA</li>
                            <li>Support 2GB to 512GB</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-others">
                  <div class="row mb-10 justify-content-center">
                    <div class="col-lg-3 col-sm-6">
                      <div class="card p-3">
                        <a href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html"><img
                            class="card-img-top" src="images/Automotive-SM768.png" alt=""></a>
                        <h3 class="card-title mb-2">Graphics SoC/GPU</h3>
                        <div class="card-text">
                          <ul class="ml-5">
                            <li>128-bit 2D engine with video decoder</li>
                            <li>Up to 4K UHD (3840 x 2160)</li>
                            <li>Temperature: -40°C to +85°C</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="editor">
            <div class="row mb-4">
              <div class="col-md-12 mb-6">
                <h3>Ecosystem Partners</h3>
                <p>We are building a robust ecosystem of strategic partners, dedicated to promoting connections and co-development efforts that lead to delivering superior and tailored solutions to our customers.</p>
              </div>
              <div class="col-md-12">
                <p><strong>The Benefits of Our Strategic Industry Partnerships</strong></p>
                <ul class="list">
                  <li>Fully optimized, leading-edge solutions</li>
                  <li>Enhanced performance, reliability and compatibility</li>
                  <li>Reduced engineering costs</li>
                  <li>Proven, collaboration partners</li>
                </ul>
              </div>
            </div>
            <div class="row mb-6 pt-6 d-flex align-items-center">
              <div class="col-4">
                <a href="https://www.nxp.com/" target="_blank">
                  <img src="../images/logo_NXP.svg" alt="" width="120">
                </a>
              </div>
              <div class="col-4">
                <a href="https://www.qualcomm.com/" target="_blank">
                  <img src="../images/logo_Qualcomm.svg" alt="" width="220">
                </a>
              </div>
              <div class="col-4">
                <a href="https://www.semidrive.com/en/" target="_blank">
                  <img src="../images/logo_SemiDrive.png" alt="" width="110">
                </a>
              </div>
              <div class="col-md-12 text-center">
                <small class="text-muted">(The list of Automotive ecosystem partners is growing and will be updated accordingly.)</small>
              </div>
            </div>
            <div class="row mb-6">
              <div class="more-download">
                <h3>Featured Board</h3>
                <table class="rwd-table download-table">
                  <thead>
                    <tr>
                      <th>SoC Vendor</th>
                      <th>SoC P/N</th>
                      <th>Storage Interface</th>
                      <th>Certified P/N</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-th="SoC Vendor">Qualcomm</td>
                      <td data-th="SoC P/N">SA8155</td>
                      <td data-th="Storage Interface">UFS 3.1</td>
                      <td data-th="Certified P/N">
                        <div class="d-flex flex-column">
                          <a class="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html" href="">SM671PAC-BFS</a>
                          <a class="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html" href="">SM671PAD-BFS</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td data-th="SoC Vendor">Qualcomm</td>
                      <td data-th="SoC P/N">SA8295</td>
                      <td data-th="Storage Interface">UFS 3.1</td>
                      <td data-th="Certified P/N">
                        <a class="" href="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">SM671PAD-BFS</a>
                      </td>
                    </tr>
                    <tr>
                      <td data-th="SoC Vendor">芯馳 SemiDrive</td>
                      <td data-th="SoC P/N">X9SP<br>X9CC</td>
                      <td data-th="Storage Interface">eMMC5.1</td>
                      <td data-th="Certified P/N">
                        <a class="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html" href="">SM662PBC-BFS</a>
                      </td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="editor row">
            <div class="col-md-12">
              <p class="font-weight-bold mb-2">References</p>
              <ol>
                <li><a href="https://www.iot-now.com/2020/01/21/118723-data-storage-is-the-key-to-autonomous-vehicles-future/"
                    target="_blank">Data Storage is the Key to Autonomous Vehicles' Future</li>
                <li><a href="https://www.businesswire.com/news/home/20220204005205/en/Global-Autonomous-Vehicle-Market-to-2030---Trend-Outlook-and-Growth-Opportunities---ResearchAndMarkets.com"
                    target="_blank">Global Autonomous Vehicle Market</a></li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <section id="pro-6" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor row">
            <h3>Related Articles</h3>
            <div class="col-12">
              <ul>
                <li><a href="https://www.siliconmotion.com/download/3TW/a/FerriUFS_WP_EN.pdf">Silicon Motion's Ferri-UFS
                    Sets New Performance Standard for Flash-Based Storage in Automotive Applications</a> <i class="fa fa-file-pdf"></i></li>
                <li><a
                    href="https://www.siliconmotion.com/download/3TZ/a/Ferri_Family_Optimizes_Embedded_WP_EN.pdf">Silicon
                    Motion's Ferri family Optimizes Embedded Flash-Based Storage for Automotive Use</a> <i class="fa fa-file-pdf"></i></li>
                <li><a href="https://www.siliconmotion.com/download/3fs/a/FerriSSD_AEC-Q100_WP_EN.pdf">Silicon Motion's
                    Ferri family: AEC-Q100 Qualified Embedded Storage </a> <i class="fa fa-file-pdf"></i></li>
                <li><a href="https://www.siliconmotion.com/download/DWbb/a/Automotive_SSD_CTRL_WP_EN.pdf">Saving cost and reducing CPU usage in the next generation of ADAS</a> <i class="fa fa-file-pdf"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="pro-7" class="sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor row">
            <h3>Related Videos</h3>
            <div class="col-12">
              <div class="yt--wrapper mt-5">
                <iframe src="https://www.youtube.com/embed/pxaMEHLZLrM" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="yt--note">For more about Silicon Motion's videos, please link to <a class="link"
                  href="https://www.youtube.com/channel/UCB4_AXjqQV_LgCRlNgzsctQ/videos" target="_blank">SMI's Youtube
                  Channel.</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="mainfooter">
    <div class="container pd_top_30 pd_btm_30">
      <div class="row">
        <div class="col-lg-7">
          <div class="sitemenu">
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/overview">Company</a>
            <a class="sitemenu-list" href="https://siliconmotiontechnologycorporation.gcs-web.com/">Investors</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/careers">Careers</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/sales">Support</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/contact">Contact Us</a>
          </div>
          <div class="sub-brand">
            <a class="imgouter imghover" href="http://en.shannon-sys.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326dc67656.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-5 text-lg-right mt-3">
          <div class="community">
            <a class="community-list" href="https://www.linkedin.com/company/siliconmotion/" target="_blank"><i
                class="icon-linkedin"></i></a>
            <a class="community-list" href="https://www.youtube.com/channel/UCB4_AXjqQV_LgCRlNgzsctQ" target="_blank"><i
                class="icon-youtube"></i></a>
            <a class="community-list"
              href="https://weibo.com/p/1006066525885619/home?from=page_100606&amp;mod=TAB#place" target="_blank"><i
                class="icon-weibo"></i></a>

            <a class="community-list qrcode-popover" href="javascript:;" data-container="body" data-toggle="popover"
              data-placement="top" data-src="https://www.siliconmotion.com/images/qrcode.jpg"><i
                class="icon-weixin"></i></a>

            <a class="community-list qrcode-modal" href="javascript:;" data-toggle="modal"
              data-target="#qrcodeModerCon"><i class="icon-weixin"></i></a>
          </div>

        </div>
      </div>
    </div>
    <div class="minorfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="webrule mb-3 mb-lg-0">
              <a class="webrule-list" href="https://www.siliconmotion.com/policy">PRIVACY POLICY</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/legal">LEGAL</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/sitemap">SITE MAP</a>
            </div>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="copyright">© 2023 Silicon Motion Technology Corp. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="top"></a>
  <div class="modal fade" id="qrcodeModerCon" tabindex="-1" role="dialog" aria-labelledby="qrcodeModerConTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="https://www.siliconmotion.com/images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="submenu-overlay"></div>

  <div class="d-cookie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 col-md-9">
          <div class="d-cookie-block">
            <h3>SILICON MOTION COOKIES NOTICE</h3>
            <p>Silicon Motion websites use cookies to collect information about how you interact with our website and
              allow us to remember you. We use this information in order to improve and customize your browsing
              experience and for analytics and metrics about our visitors both on this website and other media. To find
              out more about the cookies we use, see our <a href="https://www.siliconmotion.com/policy">Privacy
                Policy</a>.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="d-cookie-block btn">
            <a class="block-link cookie-checked" href="javascript:void(0)">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--[if lt IE 9]><script src="https://www.siliconmotion.com/js/html5.js"></script><![endif]-->
  <script src="https://www.siliconmotion.com/js/lib.js"></script>
  <script src="https://www.siliconmotion.com/js/weya.js"></script>
  <script src="https://www.siliconmotion.com/js/dist/cookies.min.js"></script>
  <script src="https://www.siliconmotion.com/plugins/sweetalert2.all.min.js"></script>
  <script src="js/stickynav.min.js"></script>
  <script src="https://www.siliconmotion.com/dist/login.js"></script>

</body>

</html>