<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Products-Enterprise-Silicon Motion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Silicon Motion is the global leader in developing NAND flash controllers for SSDs and other solid state storage devices and the merchant leader in supplying SSD controllers.">
  <meta name="keywords" content="Ssd Controllers,Ssd, PCIe Gen4, PCIe Gen3, NVMe1.3,">
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  <meta name="robots" content="all" />
  <meta name="_globalsign-domain-verification" content="0QcQQ1xkMev46LEBIpsVL8-M0G6dcOeen4PoEEkANN" />
  <link rel="shortcut icon" href="https://www.siliconmotion.com/images/favicon.ico">
  <link rel="canonical" href="https://www.siliconmotion.com/products/client/detail" />
  <link rel="alternate" hreflang="en" href="https://www.siliconmotion.com/products/client/detail" />
  <link rel="alternate" hreflang="zh-TW" href="https://www.siliconmotion.com/cht/products/client/detail" />
  <link rel="alternate" hreflang="zh-CN" href="https://www.siliconmotion.com/chs/products/client/detail" />
  <link rel="alternate" hreflang="ja" href="https://www.siliconmotion.com/jp/products/client/detail" />
  <link rel="alternate" hreflang="ko" href="https://www.siliconmotion.com/kr/products/client/detail" />
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta property="og:description"
    content="Silicon Motion is the global leader in developing NAND flash controllers for SSDs and other solid state storage devices and the merchant leader in supplying SSD controllers." />
  <meta property="og:site_name" content="Silicon Motion" />
  <meta property="og:title" content="Products-Enterprise-Silicon Motion" />
  <meta property="og:image" content="https://www.siliconmotion.com/images/facebookShare.jpg" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.siliconmotion.com/images/touch-icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.siliconmotion.com/images/touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.siliconmotion.com/images/touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.siliconmotion.com/images/touch-icon-57.png">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="https://www.siliconmotion.com/css/style.css" rel="stylesheet">
  <link href="https://www.siliconmotion.com/css/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://www.siliconmotion.com/dist/spinners.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style-add.css">
  <meta name="csrf-token" content="bgQMN0igEcWk97hjmzyE7Fqr154X7tgwNuXL4W64">

  <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NM9NG4W');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZVMCKZ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainheader">
    <div class="ctrl-bar">
      <div class="in-box container">
        <a class="logo" href="https://www.siliconmotion.com"></a>
        <div class="main-menu">
          <nav class="p-menu dot-menu">
            <ul id="oe_menu" class="mainmenu">
              <li class="nav-col active">
                <a class="navItem hasSiblings" href="javascript:void(0)" title="PRODUCTS">PRODUCTS</a>
                <section class="dropmenu pro-nav">

                  <div class="container pro-menu pro-menu-dest">
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Flash Controllers</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Automotive"
                                  href="https://www.siliconmotion.com/products/automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Storage Solutions</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Ferri Embedded Storage"
                              href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-xs">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-xs">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Bigtera SDS" href="http://www.bigtera.com/index/tc/">
                              <span class="sub-title subtitle-xs">Bigtera SDS</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Others</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Graphics SoC/GPU"
                              href="http://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-xs">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container pro-menu pro-menu-mobile scrollCusmb mCustomScrollbar" data-mcs-theme="theme">
                    <div class="d-flex">
                      <div>
                        <span class="title title-md">Flash Controllers</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Automotive"
                                  href="https://www.siliconmotion.com/products/automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Storage Solutions</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Ferri Embedded Storage"
                              href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-sm">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-sm">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Bigtera SDS" href="http://www.bigtera.com/index/tc/">
                              <span class="sub-title subtitle-sm">Bigtera SDS</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Others</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Graphics SoC/GPU"
                              href="http://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </section>
              </li>
              <li class="nav-col">
                <a class="navItem" href="https://www.siliconmotion.com/application/applications.html">APPLICATIONS</a>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">COMPANY</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Our Company</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/overview"
                            title="Overview">Overview</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/leadership"
                            title="Leadership">Leadership</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://siliconmotiontechnologycorporation.gcs-web.com/"
                            title="Investors">Investors</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/careers"
                            title="Careers">Careers</a>
                        </li>


                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/corporate"
                            title="Corporate Citizenship">Corporate Citizenship</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Media</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/press"
                            title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/upcoming"
                            title="Events">Events</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Contact</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/locations"
                            title="Locations">Locations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">SUPPORT</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Partner</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/sales"
                            title="Distributors/Sales">Distributors/Sales</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/registers/entrance"
                            title="Channel Partner Portal">Channel Partner Portal</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Resources</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/download"
                            title="Download Center">Download Center</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Service</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/contact"
                            title="Contact Us">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
            <div class="header-icon mb"></div>
          </nav>
        </div>
        <div class="minor-menu">
          <div class="header-icon pc">
            <div class="login">
              <a class="now" href="javascript:loginShow();">
                <span>LOGIN</span>
                <i class="icon-login"></i>
              </a>
              <section id="dropmenu-member" class="dropmenu-member">
                <div class="top">
                  <h2 class="title title-lg">Channel Partner Portal Login</h2>
                  <form method="POST" action="https://www.siliconmotion.com/auth/login" accept-charset="UTF-8"
                    @submit="checkLogin"><input name="_token" type="hidden"
                      value="bgQMN0igEcWk97hjmzyE7Fqr154X7tgwNuXL4W64">
                    <div class="form-group">
                      <label class="col-form-label" for="username">Username：</label>
                      <div class="position-relative">
                        <input id="username" name="email" class="form-control" type="text"
                          placeholder="please enter your email" v-model="username">
                        <small v-show="username_check">required</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="password">Password：</label>
                      <div class="position-relative">
                        <input id="password" name="password" class="form-control" type="password" v-model="password">
                        <small v-show="password_check">required</small>
                      </div>
                    </div>
                    <div class="login-btn-group">
                      <div class="btn btn-bg-primary btn-radius">
                        <button type="submit">Login</button>
                      </div>
                      <a href="https://www.siliconmotion.com/password/forget">Forget password?</a>
                    </div>
                  </form>
                </div>
                <div class="bottom bg-gray">
                  <a class="btn btn-bg-primary btn-radius" href="https://www.siliconmotion.com/registers/entrance"
                    title="Register">Register</a>
                </div>
              </section>
            </div>
            <a class="contact" href="https://www.siliconmotion.com/support/contact" title="CONTACT">
              <span>CONTACT</span>
              <i class="icon-contact"></i>
            </a>
            <div class="lang">
              <div class="now">
                <a href="javascript:void(0)">
                  <i class="icon-lang"></i>
                </a>
              </div>
              <div class="list">
                <a class="changeLang active" href="javascript:;" data-lang="en" title="EN">English</a>
                <a class="changeLang " href="javascript:;" data-lang="cht" title="CHT">繁中</a>
                <a class="changeLang " href="javascript:;" data-lang="chs" title="CHS">简中</a>
                <a class="changeLang " href="javascript:;" data-lang="jp" title="JPN">日本語</a>
                <a class="changeLang " href="javascript:;" data-lang="kr" title="KOR">한국어</a>
              </div>
            </div>
            <a class="search" href="javascript:void(0)">
              <i class="fas fa-search search-icon"></i>
              <form method="get" action="https://www.siliconmotion.com/search">
                <input class="line-input str" type="text" name="q" placeholder="Keywords">
              </form>
              <span class="cls-search"><i class="fas fa-times-circle"></i></span>
            </a>
          </div>
          <div class="mobi-cover"></div>
          <div class="js-cls--btn">
            <a href="javascript:void(0)" class="navTrigger"><i></i><i></i><i></i></a>
          </div>
        </div>
      </div>
      <script src="https://www.siliconmotion.com/dist/login.js"></script>
    </div>
  </header>
  <main>
    <section class="banner sec-pd js-fillbg " style="background-image: url( images/banner_ssd_enterprise.png)">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h5 class="subtitle subtitle-sm">SSD Controllers</h5>
            <h2 class="title title-xl fc-white">Enterprise</h2>
          </div>
        </div>
      </div>

    </section>
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumb-list">
          <li class="item">
            <a href="https://www.siliconmotion.com">Home</a>
          </li>
          <li class="item ">
            <a href="https://www.siliconmotion.com/products">Products</a>
          </li>
          <li class="item active">
            <a href="javascript:;">Enterprise</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="scrolltosec pt-0 pt-sm-3 pt-md-5 pt-xl-9">

      <div class="filternav js-filter">
        <span class="convertnav-trigger js-convertnav-trigger"></span>
        <div class="container">
          <div class="convertnav js-convertnav">
            <ul class="convertnav__list js-convertnavlist">
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem active" href="#pro-1">Overview</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-2">Features</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-3">Technologies</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-4">Selection Guide</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <section id="pro-1" class="pro-1 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <div class="mb-10">
              <h3>Overview</h3>
              <p>Unleash the power of the latest 3D NAND with Silicon Motion's family of high-performance SSD
                controllers and solutions for data center and enterprise infrastructure. Silicon Motion's enterprise SSD
                controller SoCs are backed by a comprehensive firmware stack, standards-based reference design kits and
                dedicated support. Maintaining data integrity and security is the highest priority for enterprise.
                Silicon Motion's controllers provide end to end protection with world-class security, supporting AES-256
                encryption and secure boot, while offering full compliance with the Trusted Computing Group's (TCG) Opal
                specification.</p>
              <p>Designed for next-generation data center and enterprise storage, Silicon Motion's enterprise
                controllers meet the highest standard's of performance, reliability, and security. With customizable
                turnkey firmware, these SSDs solutions are flexible enough to enable customers to develop
                application-optimized, differentiated products.</p>
            </div>

            <div class="mb-10">
              <h4>MonTitan™, PCIe Gen5 SSD Development Platform</h4>
              <p>A high performance, user programmable PCIe Gen5 platform targeting the most challenging data center and
                Enterprise SSD solutions. Inspired by the OCP Data Center NVMe SSD and NVMe 2.0 specifications,
                MonTitan™ provides a purpose-built ASIC and FW architecture supporting user SSD Application Optimization
                in both NVM Express (NVMe) and Host Based FTL usage models for addressing data placement in next
                generation NAND.</p>
                <figure>
                  <img src="images/products/diagram-SSD-Enterprise-1.png" alt="">
                </figure>
            </div>

            <div class="mb-10">
              <h4>SM8366 - High Performance 16 Channel PCIe Gen5 x4 NVMe SSD Controller</h4>
              <p>The SM8366 is MonTitan™ platform's high performance, dual ported Enterprise and Data Center PCIe Gen5 x4 NVMe controller targets the most demaning AFA, Caching, HCI, CRM, ERM and traditional DAS and RAID applications.   Containing 16 channels and supporting up to 2400MT/s, the SM8366 provides industry leading blazingly fast Sequential (>14GB/s) and Random (>3.0M IOPS) SSD performance.  It contains a scalable Single / Dual Channel 40bit DDR4-3200 / DDR5-4800 DRAM interface and is provided in a 21mm x21mm FCBGA package enabling a single chip and FW stack to be used across all new EDSFF form factors.</p><br>
              <figure>
                <img src="images/products/diagram-SSD-Enterprise-3.png" alt="">
              </figure>
            </div>

            <div class="mb-10">
              <h4>SM8266 - High Performance 16 Channel PCIe Gen4 x4 NVMe SSD Controller</h4>
              <p>The SM8266 is a high performance PCIe NVMe Gen4 x4 SSD 16 Channel controller targeting data center applications including durable data storage, JBOF and Cloud applications.   Differentiation is provided in Enterprise SSD solutions focused on Performance, Application Acceleration, Reliability and SKU Flexibility. With a complete development platform including a turnkey stack and reference design kit, the SM8266 accelerates development time-to-market for Data Center and Enterprise storage SSDs.   The SM8266 maximizes the bandwidth of the PCIe Gen4 x4 Host interface with > 6.5GB/s sequential read and 900K sustained Random Read IOPs.  In addition, the SM8266 provides physical and logical isolation with purpose-built hardware and firmware providing consistent, low latency QOS domains.</p>
            </div>

            <div class="mb-10">
              <h4>SM2271 - Providing High Capacity, High Performance SATA III SSD Controller</h4>
              <p>The SM2271 is a high-performance, 8-channel enterprise SATA controller enabling up to 16TB SSDs with the latest 3D TLC and QLC Flash technology. It fully maximizes the SATA interface supporting 540 MB/s Sequential Reads and 520 MB/s Sequential Writes. Accelerating time to market for lower cost SSDs, the solution includes both ASIC and turnkey firmware.</p>
              <p>The SM2271 offers an ideal replacement for lower-performance HDDs while providing more predictable latency than client SSDs. Enterprise SSDs based on a Silicon Motion SM2271 controller combine enterprise-level endurance, security, and performance for read-intensive and mixed workloads, while enabling users to retain existing datacenter infrastructure for the lowest possible total cost of ownership.</p>
              <figure>
                <img src="images/products/diagram-SSD-Enterprise-4.png" alt="">
              </figure>
            </div>

            <div class="mb-10 text-center">
              <h4>Keynote in FMS 2022</h4>
              <iframe align="center"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="" frameborder="0" height="385" src="https://www.youtube.com/embed/y4gqNoFTdnk"
                title="YouTube video player" width="640"></iframe>
            </div>

            <div class="mb-10 text-center">
              <h4>MonTitan™ PCIe Gen5 SSD Solution Platform</h4>
              <iframe align="center"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen="" frameborder="0" height="385" src="https://www.youtube.com/embed/jeog6CihPMM"
                title="YouTube video player" width="640"></iframe>
                <p>
                  For more about Silicon Motion&#39;s videos, <a
                  href="https://www.youtube.com/channel/UCB4_AXjqQV_LgCRlNgzsctQ/videos" target="_blank"><strong> please
                    link to SMI&#39;s Youtube Channel.</strong></a>
                </p>
            </div>

            </div>

          </div>
        </div>
      </section>

      <section id="pro-2" class="pro-2 bg-gray sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Features</h3>

            <h5>Support latest 3D TLC/QLC NAND<br />
              <br />
              Superior Mixed Workload Performance
            </h5>

            <ul>
              <li>High and consistent IOPS</li>
              <li>Low latency with deterministic QoS</li>
            </ul>

            <h5>Enterprise Level Data Integrity</h5>

            <ul>
              <li>End-to-end data protection</li>
              <li>ECC on DRAM and SRAM</li>
            </ul>

            <h5>Flexible Application Implementation</h5>

            <ul>
              <li>Standard NVMe and SATA turnkey FW</li>
              <li>Customized Driver and FW supporting KV and Open Channel SSDs</li>
            </ul>

            <h5>Prolonged SSD Life Span</h5>

            <ul>
              <li>LDPC engine for superior error correction and endurance extension</li>
              <li>Programmable RAID</li>
            </ul>

            <h5>Comprehensive Security</h5>

            <ul>
              <li>Self-encrypting drive (SED) with AES-256 and TCG Opal</li>
              <li>Secure Boot</li>
            </ul>
          </div>
        </div>
      </section>

      <section id="pro-3" class="pro-3 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Technologies</h3>
            <figure>
              <a href="#pro-3"><img src="images/products/diagram-SSD-Enterprise-2.png" alt=""></a>
            </figure>
            
            <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 1rem">
              <div>
                <h4 style="color: #00b050; font-weight: bold;">PerformaShape™</h4>
                <p>Configured in FW, PerformaShape™ is a mutli-stage shaping algorithm to optimize SSD performance on a per user defined QoS set bases. Combined with using true HW isolation technology, the latest PCIe Gen5 x4 NVMe SSD controller ensures maximum bandwidth performance while maximizing user defined individual performance elements (QOS, Latency, RR/RW, power).</p>
              </div>
              <div>
                <h4 style="color: #f5911e; font-weight: bold;">NANDCommand™</h4>
                <p>The latest PCIe Gen5 x4 NVMe SSD controller maximizes Enterprise NAND functionality by utilizing its 5th generation LDPC engine, machine learning, comprehensive real time media scan, data retention and endurance extension algorithms. These algorithms are efficiently combined with high performance soft-decoding, multi-pass and multi-plane handling, smart buffer management and fine granularity of read/write partitioning for optimized command of next generation low latency TLC/QLC NAND.</p>
              </div>
            </div>


            <!-- <h4>Flexible and high-performance controller solution for Open Channel SSDs</h4>

            <p>The Open Channel specification provides a new type of SSD architecture based on the NVMe protocol for the
              interface between a host and SSD. It enables the partitioning of functions, so that data placement, the
              main function of Flash Translation Layer (FTL) software, is executed on the host side, while media
              management functions, such as NAND Flash access and error correction, may be implemented in the SSD device
              (see Figure 1).<br />
              &nbsp;</p>
            <img src="https://www.siliconmotion.com/uploads/photos/shares/product/Enterprise/6058492844ebf.png" />
            <div class="row">
              <div class="col-md-7">
                <p><br />
                  <br />
                  <br />
                  <br />
                  The parallel internal paths in an Open Channel SSD are exposed to the host, so that the host can
                  control the entire I/O channel down to physical locations within an individual SSD device. This
                  enables the host - which knows the requirements of the applications which it is running on an SSD
                  device - to optimize data placement and maintain appropriate I/O isolation (see Figure 2). When the
                  SSD&#39;s physical memory locations are exposed to the application software, the allocation of data
                  can be arranged to provide for isolation of I/Os belonging to different applications, or to different
                  tenants in a multi-tenant environment.
                </p>
              </div>

              <div class="col-md-5"><img src="https://www.siliconmotion.com/uploads/photos/shares/product/Enterprise/5f969a6985ecb.png" /></div>
            </div>

            <div class="row">
              <div class="col-md-5"><img src="https://www.siliconmotion.com/uploads/photos/shares/product/Enterprise/5f9a796902c21.png" /></div>

              <div class="col-md-7">
                <p><br />
                  <br />
                  <br />
                  This eliminates the risk that one application&#39;s Read or Write operations could delay or interfere
                  with another&#39;s. The result: reduced latency in data-transfer operations; and equally important,
                  predictable latency (see Figure 3). Fig. 3: in an Open Channel architecture, the SSD media&#39;s
                  contribution to latency is transparent to the host and entirely predictable
                </p>
              </div>
            </div>

            <p>Silicon Motion Enterprise SSD controller solution&#39;s unique configuration of the ASIC and firmware
              provide&nbsp;a broad range of customizations of an SSD design to meet the user&#39;s individual
              specifications, it&nbsp;allows the user to specify:</p>

            <ul>
              <li>
                <p>the interface command sets</p>
              </li>
              <li>
                <p>the partitioning of FTL jobs between the host and the SSD</p>
              </li>
            </ul>

            <h5><br />
              Silicon Motion&#39;s unique technology to meet crucial attributes required of the controller in an Open
              Channel SSD:</h5>

            <h6>Advanced media management for the latest generations of NAND Flash technology</h6>

            <p>The technologies integrated into the SMI&#39;s controller solution are the industry&#39;s most effective
              for prolonging reliable operation, and are proven in mission-critical industrial and embedded
              applications. Silicon Motion draws on more than two decades of experience in managing NAND Flash media.
              This expertise is reflected in the advanced media management technologies implemented in Silicon Motion
              SSD controller solutions. These include Silicon Motion&#39;s NANDXtend<b><sup>&reg;</sup></b> technology,
              which incorporates machine learning error-recovery algorithms.</p>

            <h6><br />
              Data integrity technologies which perform comprehensive error detection and correction</h6>

            <p>SMI&#39;s controller solution can provide a near error-free data output enabled by the implementation of
              advanced data integrity features in the controller. These include end-to-end data path protection, which
              applies ECC to buffer memory as well as to the primary NAND Flash memory array. This maintains the
              integrity of every bit of data as it is transmitted between the host and the SSD as well as between memory
              and NAND Flash.</p> -->
          </div>
        </div>
      </section>

      <section id="pro-4" class="pro-4 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="more-download">
            <h2 class="title title-xl mg_btm_20">Selection Guide</h2>
            <table class="rwd-table" id="app">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Product</th>
                  <th>Host Interface / Protocol</th>
                  <th>Flash Interface</th>
                  <th>ECC Support</th>
                  <th>DRAM</th>
                  <th>Package</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-th="Download">
                    <button class="idownload" href="#popup_3Xc" data-effect="mfp-zoom-in">
                      <img src="https://www.siliconmotion.com/images/download.svg" alt="">
                    </button>

                    <div id="popup_3Xc" class="popup-content mfp-with-anim mfp-hide">
                      <table class="rwd-table dw-table mdw-table" data-aos="fade-up">
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>Document</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Product Brief</td>
                            <td>

                              <a class="idownload lockdownload" href="javascript:;"
                                @click.stop.prevent='eval("this.openDownload(&#039;https://www.siliconmotion.com/download/3br/a/SM8366_PB_EN.pdf&#039;)")'>
                                <span>SM8366</span>

                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td data-th="Product">SM8366</td>
                  <td data-th="Host Interface / Protocol">PCIe Gen5 x4 NVMe 2.0</td>
                  <td data-th="Flash Interface">16-CH</td>
                  <td data-th="ECC Support">Configurable LDPC ECC</td>
                  <td data-th="DRAM">Yes</td>
                  <td data-th="Package">FCBGA961 (21 x 21mm)</td>
                </tr>
                <tr>
                  <td data-th="Download">
                    <button class="idownload" href="#popup_3Xc" data-effect="mfp-zoom-in">
                      <img src="https://www.siliconmotion.com/images/download.svg" alt="">
                    </button>

                    <div id="popup_3Xc" class="popup-content mfp-with-anim mfp-hide">
                      <table class="rwd-table dw-table mdw-table" data-aos="fade-up">
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>Document</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Product Brief</td>
                            <td>

                              <a class="idownload lockdownload" href="javascript:;"
                                @click.stop.prevent='eval("this.openDownload(&#039;https://www.siliconmotion.com/download/3br/a/SM8266_PB_EN.pdf&#039;)")'>
                                <span>SM8266</span>

                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td data-th="Product">SM8266</td>
                  <td data-th="Host Interface / Protocol">PCIe Gen4 x4 NVMe 1.4</td>
                  <td data-th="Flash Interface">16-CH</td>
                  <td data-th="ECC Support">Configurable LDPC ECC</td>
                  <td data-th="DRAM">Yes</td>
                  <td data-th="Package">FCBGA961 (21 x 21mm)</td>
                </tr>
                <tr>
                  <td data-th="Download">
                    <button class="idownload" href="#popup_3TY" data-effect="mfp-zoom-in">
                      <img src="https://www.siliconmotion.com/images/download.svg" alt="">
                    </button>

                    <div id="popup_3TY" class="popup-content mfp-with-anim mfp-hide">
                      <table class="rwd-table dw-table mdw-table" data-aos="fade-up">
                        <thead>
                          <tr>
                            <th>Type</th>
                            <th>Document</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Product Brief</td>
                            <td>

                              <a class="idownload lockdownload" href="javascript:;"
                                @click.stop.prevent='eval("this.openDownload(&#039;https://www.siliconmotion.com/download/3HA/a/SM2271_PB_EN.pdf&#039;)")'>
                                <span>SM2271</span>

                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td data-th="Product">SM2271</td>
                  <td data-th="Host Interface / Protocol">SATA 6Gb/s</td>
                  <td data-th="Flash Interface">8-CH</td>
                  <td data-th="ECC Support">Configurable LDPC ECC</td>
                  <td data-th="DRAM">Yes</td>
                  <td data-th="Package">FCBGA529 (16 x 16mm)</td>
                </tr>
            </table>
          </div>
        </div>
      </section>

    </div>
    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form method="POST" action="https://www.siliconmotion.com/download" accept-charset="UTF-8" id="wyForm"
            target="_blank"><input name="_token" type="hidden" value="bgQMN0igEcWk97hjmzyE7Fqr154X7tgwNuXL4W64">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Non-disclosure agreement</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-html="row.nda"></div>
            <div class="modal-footer">
              <input type="hidden" name="id" :value="row.id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Disagree</button>
              <button type="button" class="btn btn-primary" @click.prevent="submit('wyForm')"
                v-if="!onload">Agree</button>

              <button class="btn btn-primary" type="button" disabled v-if="onload">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer class="mainfooter">
    <div class="container pd_top_30 pd_btm_30">
      <div class="row">
        <div class="col-lg-7">
          <div class="sitemenu">
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/overview">Company</a>
            <a class="sitemenu-list" href="https://siliconmotiontechnologycorporation.gcs-web.com/">Investors</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/careers">Careers</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/sales">Support</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/contact">Contact Us</a>
          </div>
          <div class="sub-brand">
            <a class="imgouter imghover" href="http://en.shannon-sys.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326dc67656.svg" alt="">
            </a>
            <a class="imgouter imghover" href="https://www.bigtera.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326f780148.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-5 text-lg-right mt-3">
          <div class="community">
            <a class="community-list" href="https://www.linkedin.com/company/siliconmotion/" target="_blank"><i
                class="icon-linkedin"></i></a>
            <a class="community-list" href="https://www.youtube.com/channel/UCB4_AXjqQV_LgCRlNgzsctQ" target="_blank"><i
                class="icon-youtube"></i></a>
            <a class="community-list"
              href="https://weibo.com/p/1006066525885619/home?from=page_100606&amp;mod=TAB#place" target="_blank"><i
                class="icon-weibo"></i></a>

            <a class="community-list qrcode-popover" href="javascript:;" data-container="body" data-toggle="popover"
              data-placement="top" data-src="https://www.siliconmotion.com/images/qrcode.jpg"><i
                class="icon-weixin"></i></a>

            <a class="community-list qrcode-modal" href="javascript:;" data-toggle="modal"
              data-target="#qrcodeModerCon"><i class="icon-weixin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="minorfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="webrule mb-3 mb-lg-0">
              <a class="webrule-list" href="https://www.siliconmotion.com/policy">PRIVACY POLICY</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/legal">LEGAL</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/sitemap">SITE MAP</a>
            </div>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="copyright">© 2022 Silicon Motion Technology Corp. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="top"></a>
  <div class="modal fade" id="qrcodeModerCon" tabindex="-1" role="dialog" aria-labelledby="qrcodeModerConTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="https://www.siliconmotion.com/images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>
  <form method="POST" action="https://www.siliconmotion.com/change-lang" accept-charset="UTF-8" id="langForm"><input
      name="_token" type="hidden" value="lrpdqqHuqM6AuD73wsl0eGXfnog0gE9xOeOdzojR">
    <input name="currentUrl" type="hidden" value="products/portable/detail">
    <input id="changeLang" name="changeLang" type="hidden">
  </form>
  <!-- <div class="d-cookie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 col-md-9">
          <div class="d-cookie-block">
            <h3>SILICON MOTION COOKIES NOTICE</h3>
            <p>Silicon Motion websites use cookies to collect information about how you interact with our website and
              allow us to remember you. We use this information in order to improve and customize your browsing
              experience and for analytics and metrics about our visitors both on this website and other media. To find
              out more about the cookies we use, see our <a href="https://www.siliconmotion.com/policy">Privacy
                Policy</a>.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="d-cookie-block btn">
            <a class="block-link cookie-checked" href="javascript:void(0)">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--[if lt IE 9]><script src="https://www.siliconmotion.com/js/html5.js"></script><![endif]-->
  <script type="text/javascript">
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
      document.write('<script src="https://www.siliconmotion.com/js/ie11-polyfill.js"><\/script>');
  </script>
  <script src="https://www.siliconmotion.com/js/lib.js"></script>
  <script src="https://www.siliconmotion.com/js/weya.js"></script>
  <script src="https://www.siliconmotion.com/js/dist/cookies.min.js"></script>
  <script src="https://www.siliconmotion.com/js/lang.js"></script>
  <script src="https://www.siliconmotion.com/plugins/sweetalert2.all.min.js"></script>
  <script id="api" type="application/json">{"agree":"https:\/\/www.siliconmotion.com\/download\/agree"}</script>
  <script src="https://www.siliconmotion.com/js/dist/stickynav.min.js"></script>
  <script src="https://www.siliconmotion.com/dist/product-download.js"></script>
</body>

</html>