<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Products-Automotive-Silicon Motion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Silicon Motion is the global leader in developing NAND flash controllers for Automotive SSD drives and other solid-state storage devices and the merchant leader in supplying SSD controllers.">
  <meta name="keywords" content="Automotive SSD Controllers,
Automotive  SSD, PCIe Gen4,
Automotive Storage">
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  <meta name="robots" content="all" />
  <meta name="_globalsign-domain-verification" content="0QcQQ1xkMev46LEBIpsVL8-M0G6dcOeen4PoEEkANN" />
  <link rel="shortcut icon" href="https://www.siliconmotion.com/images/favicon.ico">
  <link rel="canonical" href="https://www.siliconmotion.com/products/automotive/detail" />
  <link rel="alternate" hreflang="en" href="https://www.siliconmotion.com/products/automotive/detail" />
  <link rel="alternate" hreflang="zh-TW" href="https://www.siliconmotion.com/cht/products/automotive/detail" />
  <link rel="alternate" hreflang="zh-CN" href="https://www.siliconmotion.com/chs/products/automotive/detail" />
  <link rel="alternate" hreflang="ja" href="https://www.siliconmotion.com/jp/products/automotive/detail" />
  <link rel="alternate" hreflang="ko" href="https://www.siliconmotion.com/kr/products/automotive/detail" />
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta property="og:description"
    content="Silicon Motion is the global leader in developing NAND flash controllers for Automotive SSD drives and other solid-state storage devices and the merchant leader in supplying SSD controllers." />
  <meta property="og:site_name" content="Silicon Motion" />
  <meta property="og:title" content="Products-Automotive-Silicon Motion" />
  <meta property="og:image" content="https://www.siliconmotion.com/images/facebookShare.jpg" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.siliconmotion.com/images/touch-icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.siliconmotion.com/images/touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.siliconmotion.com/images/touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.siliconmotion.com/images/touch-icon-57.png">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="https://www.siliconmotion.com/css/style.css" rel="stylesheet">
  <link href="https://www.siliconmotion.com/css/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://www.siliconmotion.com/dist/spinners.css" rel="stylesheet">
  <meta name="csrf-token" content="vbIPyXF65FdYRNMVuZldcRi4zHp3BYikhQEa1Vgk">

  <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
  <style>
    [v-cloak] {
      display: none;
    }

    .automotive-card-wrapper .card-title {
      color: #555;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .automotive-card-wrapper .card-img-top {
      width: 100%;
      max-width: 210px;
    }
  </style>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NM9NG4W');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM9NG4W" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainheader">
    <div class="ctrl-bar">
      <div class="in-box container">
        <a class="logo" href="https://www.siliconmotion.com"></a>
        <div class="main-menu">
          <nav class="p-menu dot-menu">
            <ul id="oe_menu" class="mainmenu">
              <li class="nav-col active">
                <a class="navItem hasSiblings" href="javascript:void(0)" title="PRODUCTS">PRODUCTS</a>
                <section class="dropmenu pro-nav">

                  <div class="container pro-menu pro-menu-dest">
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Flash Controllers</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Automotive"
                                  href="https://www.siliconmotion.com/products/automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Storage Solutions</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Ferri Embedded Storage"
                              href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-xs">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-xs">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Others</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Graphics SoC/GPU"
                              href="http://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-xs">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container pro-menu pro-menu-mobile scrollCusmb mCustomScrollbar" data-mcs-theme="theme">
                    <div class="d-flex">
                      <div>
                        <span class="title title-md">Flash Controllers</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Automotive"
                                  href="https://www.siliconmotion.com/products/automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Storage Solutions</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Ferri Embedded Storage"
                              href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-sm">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-sm">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Others</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Graphics SoC/GPU"
                              href="http://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </section>
              </li>
              <li class="nav-col">
                <a class="navItem" href="https://www.siliconmotion.com/application/applications.html">APPLICATIONS</a>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">COMPANY</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Our Company</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/overview"
                            title="Overview">Overview</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/leadership"
                            title="Leadership">Leadership</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://siliconmotiontechnologycorporation.gcs-web.com/"
                            title="Investors">Investors</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/careers"
                            title="Careers">Careers</a>
                        </li>


                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/corporate"
                            title="Corporate Citizenship">Corporate Citizenship</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Media</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/press"
                            title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/upcoming"
                            title="Events">Events</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Contact</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/locations"
                            title="Locations">Locations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">SUPPORT</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Partner</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/sales"
                            title="Distributors/Sales">Distributors/Sales</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/registers/entrance"
                            title="Channel Partner Portal">Channel Partner Portal</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Resources</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/download"
                            title="Download Center">Download Center</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Service</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/contact"
                            title="Contact Us">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
            <div class="header-icon mb"></div>
          </nav>
        </div>
        <div class="minor-menu">
          <div class="header-icon pc">
            <div class="login">
              <a class="now" href="javascript:loginShow();">
                <span>LOGIN</span>
                <i class="icon-login"></i>
              </a>
              <section id="dropmenu-member" class="dropmenu-member">
                <div class="top">
                  <h2 class="title title-lg">Channel Partner Portal Login</h2>
                  <form method="POST" action="https://www.siliconmotion.com/auth/login" accept-charset="UTF-8"
                    @submit="checkLogin"><input name="_token" type="hidden"
                      value="vbIPyXF65FdYRNMVuZldcRi4zHp3BYikhQEa1Vgk">
                    <div class="form-group">
                      <label class="col-form-label" for="username">Username：</label>
                      <div class="position-relative">
                        <input id="username" name="email" class="form-control" type="text"
                          placeholder="please enter your email" v-model="username">
                        <small v-show="username_check">required</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="password">Password：</label>
                      <div class="position-relative">
                        <input id="password" name="password" class="form-control" type="password" v-model="password">
                        <small v-show="password_check">required</small>
                      </div>
                    </div>
                    <div class="login-btn-group">
                      <div class="btn btn-bg-primary btn-radius">
                        <button type="submit">Login</button>
                      </div>
                      <a href="https://www.siliconmotion.com/password/forget">Forget password?</a>
                    </div>
                  </form>
                </div>
                <div class="bottom bg-gray">
                  <a class="btn btn-bg-primary btn-radius" href="https://www.siliconmotion.com/registers/entrance"
                    title="Register">Register</a>
                </div>
              </section>
            </div>
            <a class="contact" href="https://www.siliconmotion.com/support/contact" title="CONTACT">
              <span>CONTACT</span>
              <i class="icon-contact"></i>
            </a>
            <div class="lang">
              <div class="now">
                <a href="javascript:void(0)">
                  <i class="icon-lang"></i>
                </a>
              </div>
              <div class="list">
                <a class="changeLang active" href="javascript:;" data-lang="en" title="EN">English</a>
                <a class="changeLang " href="javascript:;" data-lang="cht" title="CHT">繁中</a>
                <a class="changeLang " href="javascript:;" data-lang="chs" title="CHS">简中</a>
                <a class="changeLang " href="javascript:;" data-lang="jp" title="JPN">日本語</a>
                <a class="changeLang " href="javascript:;" data-lang="kr" title="KOR">한국어</a>
              </div>
            </div>
            <a class="search" href="javascript:void(0)">
              <i class="fas fa-search search-icon"></i>
              <form method="get" action="https://www.siliconmotion.com/search">
                <input class="line-input str" type="text" name="q" placeholder="Keywords">
              </form>
              <span class="cls-search"><i class="fas fa-times-circle"></i></span>
            </a>
          </div>
          <div class="mobi-cover"></div>
          <div class="js-cls--btn">
            <a href="javascript:void(0)" class="navTrigger"><i></i><i></i><i></i></a>
          </div>
        </div>
      </div>
      <script src="https://www.siliconmotion.com/dist/login.js"></script>
    </div>
  </header>
  <main>
    <section class="banner sec-pd js-fillbg "
      style="background-image: url( https://www.siliconmotion.com/uploads/products/623ea25492ffa.png)">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h5 class="subtitle subtitle-sm">SSD Controllers</h5>
            <h2 class="title title-xl fc-white">Automotive</h2>
          </div>
        </div>
      </div>

    </section>
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumb-list">
          <li class="item">
            <a href="https://www.siliconmotion.com">Home</a>
          </li>
          <li class="item ">
            <a href="https://www.siliconmotion.com/products">Products</a>
          </li>
          <li class="item active">
            <a href="javascript:;">Automotive</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="scrolltosec pt-0 pt-sm-3 pt-md-5 pt-xl-9">

      <div class="filternav js-filter">
        <span class="convertnav-trigger js-convertnav-trigger"></span>
        <div class="container">
          <div class="convertnav js-convertnav">
            <ul class="convertnav__list js-convertnavlist">
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem active" href="#pro-1">Overview</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-2">Features</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-3">Technologies</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-4">Selection Guide</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <section id="pro-1" class="pro-1 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Overview</h3>

            <p>As electronics content and data grow exponentially in today&#39;s vehicle, automakers are now beginning
              to incorporate PCIe NVMe SSDs, which will be more widely implemented in the next few years.<br />
              &nbsp;</p>

            <p>We&#39;ve designed our latest automotive-grade PCIe NVMe SSD controllers from the ground up with PCIe
              Gen4 technology and innovative hardware features optimized for true Gen4 performance, low power
              consumption, and advanced error correction combined with data path and EMI protection.<br />
              &nbsp;</p>

            <p>Using 12nm process technology for high throughput, lower power consumption, and rigorous data protection,
              our controllers provide ultra-high performance and reliability for automotive applications &mdash;
              including a cost-effective PCIe NVMe SSD solution for automotive storage. Ideal for automotive computing
              environments, we now offer controllers with built-in SR-IOV capability, delivering a direct, high-speed
              PCIe interface supporting up to eight virtual machines that are capable of fulfilling multiple
              requirements and functions.</p>
            &nbsp;

            <div class="mb-5 text-center">
              <h2 style="color: #555; font-weight: bold;">Driving the Future of Automotive Applications: Centralized
                Architecture</h2>

              <figure><img alt=""
                  src="https://www.siliconmotion.com/uploads/photos/shares/product/Client/624121519309a.jpg" /></figure>
            </div>

            <p>The idea of centralized architecture is to integrate all electronic systems into a centrally controlled
              platform, which requires a higher-end transmission system and various storage applications.<br />
              &nbsp;</p>

            <p>When it comes to implementing virtualization in high-speed data networks with a PCIe bus, SR-IOV allows
              for greater software functionality and easier remote management &mdash; and it&#39;s capable of
              interfacing directly, at high speed and independently, to each virtual machine (VM) via a dedicated
              virtual function (VF) implemented in the SSD controller. This can only be delivered by PCIe SSDs, which
              can support future vehicles requiring implementation in a centralized architecture. Here are the
              competitive advantages our SSD controllers provide for the automotive industry:</p>

            <div class="row mb-10 automotive-card-wrapper">
              <div class="col-lg-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-advantage-1.png" alt="">
                  <h3 class="card-title mb-2">Data Path Protection</h3>
                  <div class="card-text">
                    <ul class="pl-0">
                      <li>End-to-end data path protection</li>
                      <li>SRAM ECC for SRAM soft/hard errors</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-advantage-2.png" alt="">
                  <h3 class="card-title">TSMC Automotive Service Package</h3>
                  <div class="card-text">
                    <ul class="pl-0">
                      <li>Tightened process control and scrap criteria</li>
                      <li>Documentation and failure analysis</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-advantage-3.png" alt="">
                  <h3 class="card-title">Extended Temperature and Voltage</h3>
                  <div class="card-text">
                    <ul class="pl-0">
                      <li>-40°C to +85°C (Grade 3) </li>
                      <li>-40°C to +105°C (Grade 2) production test</li>
                      <li>High-voltage SRAM test</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-advantage-4.png" alt="">
                  <h3 class="card-title">Traceability</h3>
                  <div class="card-text">
                    <ul class="pl-0">
                      <li>OTP controller die stores unique ID to trace back wafer map or wafer lot</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <h3>Silicon Motion's Contributions to the Automotive Industry</h3>

            <div class="row mb-10  automotive-card-wrapper">
              <div class="col-md-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-badge-AECC.png" alt="" width="210">
                  <div class="card-body">
                    <h3 class="card-title text-center">AECC</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-badge-AEC-Q100.png" alt="">
                  <div class="card-body">
                    <h3 class="card-title text-center">AEC-Q100 Grade 3/2</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-badge-ISO.png" alt="">
                  <div class="card-body">
                    <h3 class="card-title text-center">ISO 26262</h3>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="card p-3">
                  <img class="card-img-top" src="../../application/images/Automotive-badge-ASPICE.png" alt="">
                  <div class="card-body">
                    <h3 class="card-title text-center">ASPICE certification</h3>
                  </div>
                </div>
              </div>
            </div>

            <p>As the world's leading supplier of NAND flash controllers, we're dedicated to providing a broad range of
              high-performance solutions that satisfies the strictest design requirements for quality, reliability, and
              safety. That's why Silicon Motion collaborates with the AECC and undergoes an exhaustive qualification
              process to ensure that PCIe Gen4 standards and new technologies meet the future demands of the connected
              vehicle ecosystem.</p>

          </div>
        </div>
      </section>

      <section id="pro-2" class="pro-2 bg-gray sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Features</h3>

            <div class="mb-5">
              <h5>High Data Integrity and Security</h5>

              <ul>
                <li>Self-encrypting drive (SED) with AES 128/256 and TCG Opal</li>
                <li>Data retention extension with 7th generation NANDXtend&reg;</li>
              </ul>
            </div>

            <div class="mb-5">
              <h5>Best-in-class low power consumption</h5>

              <ul>
                <li>Supports flash devices operating at VCCQ 1.2V/1.8V</li>
                <li>Lowest power usage under 2mW</li>
              </ul>
            </div>

            <div>
              <h5>Built-in SR-IOV capability</h5>

              <ul>
                <li>Supports to up to eight virtual machines</li>
                <li>Multiple namespaces and firmware slots</li>
              </ul>

              <h5>Full automotive qualification</h5>

              <ul>
                <li>Compliance with AEC-Q100 Grades 2/3 and ASPICE</li>
                <li>Compliance with the ISO 9000/9001, 26262 functional safety standards</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="pro-3" class="pro-3 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Technologies</h3>

            <p></p>

            <h4>Built-in SR-IOV Capability for Automotive Storage</h4>

            <p><b>Sharing a storage resource across multiple ECUs at near native speed</b><br />
              The SR-IOV architecture applies the concept of virtualization. This provides the flexibility to run a VM
              on any supported hardware target and optimizes the usage of the available hardware resources. The ultimate
              result is reduced hardware costs: A data center that implements a virtualized system can perform more
              computing operations with fewer servers than an older, non-virtualized system.&nbsp;</p>

            <p><img alt=""
                src="https://www.siliconmotion.com/uploads/photos/shares/product/Client/6241280d4c651.png" />The
              advantage of virtualized
              architecture is that data transfers no longer need to be routed via the hypervisor (virtual machine
              manager, or VMM), thus eliminating the delay caused by translating software code from PCIe format into
              hypervisor format and back again. This also reduces the burden on the CPU in which the hypervisor
              runs.&nbsp;<br />
              <br />
              Silicon Motion&#39;s SSD controller offers built-in SR-IOV capability and supports up to eight VMs, which
              can interface directly at high speed &mdash; and independently &mdash; to each VM via a dedicated virtual
              function (VF) implemented in the SSD controller.<br />
              &nbsp;
            </p>

            <h4>TSMC 12nm FinFET Process Technology</h4>

            <p>Our controllers&#39;&nbsp;progressive architecture is based on 12nm process technology, allowing for high
              throughput, lower power consumption, and uncompromising data protection combined with ultra-high
              performance and dependability in an economical PCIe NVMe SSD storage solution.</p>

            <p></p>

            <h4>7th Generation NANDXtend<b><sup><span lang="EN-US" style="font-size:12.0pt"><span
                      style="font-family:arial">&reg;&nbsp;</span></span></sup></b>ECC Technology</h4>

            <p><b>More Reliable, Efficient and Power-saving ECC technology for the latest and next-generation 3D
                NAND</b><br />
              NANDXtend<b><sup><span lang="EN-US" style="font-size:12.0pt"><span
                      style="font-family:arial">&reg;</span></span></sup></b> is an advanced firmware technology
              exclusively
              developed by Silicon Motion to meet the design requirements of SSDs with 3D NAND. Combined with LDPC
              (low-density parity-check), RAID Data Recovery correction technologies, the NANDXtend<b><sup><span
                    style="font-family:arial">&reg;</span></span></sup></b> three-level error correction algorithm can
              decode in parallel and correct errors with precision and at high speed. Together, these technologies
              extend the P/E cycle performance of 3D NAND, prolonging the SSD&#39;s lifespan and ensuring data
              integrity.<img alt=""
                src="https://www.siliconmotion.com/uploads/photos/shares/product/Client/62299d9553b46.jpg" />The new
              generation
              NANDXtend<b><sup><span lang="EN-US" style="font-size:12.0pt"><span
                      style="font-family:arial">&reg;</span></span></sup></b>&nbsp;includes a performance-optimized 4KB
              LDPC
              engine&nbsp;with an advanced firmware algorithm that delivers higher power efficiency, decoding
              efficiency, and correction capability to maintain consistent data throughout and provide a better user
              experience, even as error bits increase throughout the product lifecycle of NAND flash.&nbsp;<br />
              &nbsp;</p>

            <h4>End to End Data Path Protection</h4>

            <p>Silicon Motion&#39;s SSD controller solutions incorporate full data error detection with recovery engines
              to provide enhanced data integrity throughout the entire Host-to-NAND-to-Host data path. The data recovery
              algorithm can effectively detect any error in the SSD data path, including hardware (i.e. ASIC) errors,
              firmware errors, and memory errors arising in SRAM, DRAM, or NAND.<br />
              <img alt="" src="https://www.siliconmotion.com/uploads/photos/shares/product/62456b799a98d.jpg"
                style="height: auto; width: 1200px;" />
            </p>

            <!-- Automotive 頁面連結 Banner: Method2 -->
            <div
              style="background: #010b15 url(../../../application/images/automotive-link-banner.jpg) no-repeat right bottom; background-size: cover; display: block; width: 100%; height: 200px; padding: 3.5rem 6%; border-radius: 1rem">
              <div style="color: #fff; font-size: clamp(1.5rem, 2vw,1.75rem); font-weight: bold; margin-bottom: 32px;">
                Driving Automotive Innovation</div>
              <a href="https://www.siliconmotion.com/application/applications-automotive.html"
                style="border: 1px solid #fff; display: inline-block; padding: .5rem 1.5rem; text-align: center; color: #fff;">Learn
                More</a>
            </div>
            <!-- END of Automotive 頁面連結 Banner -->

          </div>
        </div>
      </section>

      <section id="pro-4" class="pro-4 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="more-download">
            <h2 class="title title-xl mg_btm_20">Selection Guide</h2>
            <table class="rwd-table" id="app">
              <thead>
                <tr>
                  <th>File</th>
                  <th>Product</th>
                  <th>Host Standards</th>
                  <th>Flash Interface</th>
                  <th>DRAM</th>
                  <th>ECC Support</th>
                  <th>Capacity</th>
                  <th>SR-IOV support</th>
                  <th>Temp. Range</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-th="Download">
                  </td>
                  <td data-th="Product">SM2264XT-AT</td>
                  <td data-th="Host Standards">PCIe Gen4 x4<br />
                    NVMe 1.4</td>
                  <td data-th="Flash Interface">8-CH</td>
                  <td data-th="DRAM">--</td>
                  <td data-th="ECC Support">Yes</td>
                  <td data-th="Capacity">32GB to 1TB</td>
                  <td data-th="SR-IOV  support">Yes</td>
                  <td data-th="Temp. Range">-40°C to +85°C/-40°C to +105°C</td>
                </tr>
            </table>
          </div>
        </div>
      </section>

    </div>
    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form method="POST" action="https://www.siliconmotion.com/download" accept-charset="UTF-8" id="wyForm"
            target="_blank"><input name="_token" type="hidden" value="vbIPyXF65FdYRNMVuZldcRi4zHp3BYikhQEa1Vgk">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Non-disclosure agreement</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-html="row.nda"></div>
            <div class="modal-footer">
              <input type="hidden" name="id" :value="row.id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Disagree</button>
              <button type="button" class="btn btn-primary" @click.prevent="submit('wyForm')"
                v-if="!onload">Agree</button>

              <button class="btn btn-primary" type="button" disabled v-if="onload">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer class="mainfooter">
    <div class="container pd_top_30 pd_btm_30">
      <div class="row">
        <div class="col-lg-7">
          <div class="sitemenu">
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/overview">Company</a>
            <a class="sitemenu-list" href="https://siliconmotiontechnologycorporation.gcs-web.com/">Investors</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/careers">Careers</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/sales">Support</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/contact">Contact Us</a>
          </div>
          <div class="sub-brand">
            <a class="imgouter imghover" href="http://en.shannon-sys.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326dc67656.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-5 text-lg-right mt-3">
          <div class="community">
            <a class="community-list" href="https://www.linkedin.com/company/siliconmotion/" target="_blank"><i
                class="icon-linkedin"></i></a>
            <a class="community-list" href="https://www.youtube.com/channel/UCB4_AXjqQV_LgCRlNgzsctQ" target="_blank"><i
                class="icon-youtube"></i></a>
            <a class="community-list"
              href="https://weibo.com/p/1006066525885619/home?from=page_100606&amp;mod=TAB#place" target="_blank"><i
                class="icon-weibo"></i></a>

            <a class="community-list qrcode-popover" href="javascript:;" data-container="body" data-toggle="popover"
              data-placement="top" data-src="https://www.siliconmotion.com/images/qrcode.jpg"><i
                class="icon-weixin"></i></a>

            <a class="community-list qrcode-modal" href="javascript:;" data-toggle="modal"
              data-target="#qrcodeModerCon"><i class="icon-weixin"></i></a>
          </div>

        </div>
      </div>
    </div>
    <div class="minorfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="webrule mb-3 mb-lg-0">
              <a class="webrule-list" href="https://www.siliconmotion.com/policy">PRIVACY POLICY</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/legal">LEGAL</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/sitemap">SITE MAP</a>
            </div>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="copyright">© 2023 Silicon Motion Technology Corp. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="top"></a>
  <div class="modal fade" id="qrcodeModerCon" tabindex="-1" role="dialog" aria-labelledby="qrcodeModerConTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="https://www.siliconmotion.com/images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>
  <form method="POST" action="https://www.siliconmotion.com/change-lang" accept-charset="UTF-8" id="langForm"><input
      name="_token" type="hidden" value="vbIPyXF65FdYRNMVuZldcRi4zHp3BYikhQEa1Vgk">
    <input name="currentUrl" type="hidden" value="products/automotive/detail">
    <input id="changeLang" name="changeLang" type="hidden">
  </form>
  <div class="d-cookie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 col-md-9">
          <div class="d-cookie-block">
            <h3>SILICON MOTION COOKIES NOTICE</h3>
            <p>Silicon Motion websites use cookies to collect information about how you interact with our website and
              allow us to remember you. We use this information in order to improve and customize your browsing
              experience and for analytics and metrics about our visitors both on this website and other media. To find
              out more about the cookies we use, see our <a href="https://www.siliconmotion.com/policy">Privacy
                Policy</a>.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="d-cookie-block btn">
            <a class="block-link cookie-checked" href="javascript:void(0)">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--[if lt IE 9]><script src="https://www.siliconmotion.com/js/html5.js"></script><![endif]-->
  <script type="text/javascript">
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent))
      document.write('<script src="https://www.siliconmotion.com/js/ie11-polyfill.js"><\/script>');
  </script>
  <script src="https://www.siliconmotion.com/js/lib.js"></script>
  <script src="https://www.siliconmotion.com/js/weya.js"></script>
  <script src="https://www.siliconmotion.com/js/dist/cookies.min.js"></script>
  <script src="https://www.siliconmotion.com/js/lang.js"></script>
  <script src="https://www.siliconmotion.com/plugins/sweetalert2.all.min.js"></script>
  <script id="api" type="application/json">{"agree":"https:\/\/www.siliconmotion.com\/download\/agree"}</script>
  <script src="https://www.siliconmotion.com/js/dist/stickynav.min.js"></script>
  <script src="https://www.siliconmotion.com/dist/product-download.js"></script>
</body>

</html>