<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Corporate-citizenship- Governance -Silicon Motion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Silicon Motion">
  <meta name="keywords" content="Silicon Motion">
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  <meta name="robots" content="all" />
  <link rel="shortcut icon" href="https://www.siliconmotion.com/images/favicon.ico">
  <link rel="canonical" href="https://www.siliconmotion.com" />
  <link rel="alternate" hreflang="en" href="https://www.siliconmotion.com" />
  <link rel="alternate" hreflang="zh-TW" href="https://www.siliconmotion.com/cht" />
  <link rel="alternate" hreflang="zh-CN" href="https://www.siliconmotion.com/chs" />
  <link rel="alternate" hreflang="ja" href="https://www.siliconmotion.com/jp" />
  <link rel="alternate" hreflang="ko" href="https://www.siliconmotion.com/kr" />
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta property="og:description" content="Silicon Motion" />
  <meta property="og:site_name" content="Silicon Motion" />
  <meta property="og:title" content="Ferri Embedded Storage - Silicon Motion" />
  <meta property="og:image" content="https://www.siliconmotion.com/images/facebookShare.jpg" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.siliconmotion.com/images/touch-icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.siliconmotion.com/images/touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.siliconmotion.com/images/touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.siliconmotion.com/images/touch-icon-57.png">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://www.siliconmotion.com/css/style.css" rel="stylesheet">
  <link href="css/aos.css" rel="stylesheet">
  <link href="css/style-add.css" rel="stylesheet">
  <link href="css/spinners.css" rel="stylesheet">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NM9NG4W');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM9NG4W" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainheader">
    <div class="ctrl-bar">
      <div class="in-box container">
        <a class="logo" href="https://www.siliconmotion.com"></a>
        <div class="main-menu">
          <nav class="p-menu dot-menu">
            <ul id="oe_menu" class="mainmenu">
              <li class="nav-col">
                <a class="navItem hasSiblings" href="javascript:void(0)" title="PRODUCTS">PRODUCTS</a>
                <section class="dropmenu pro-nav">
                  <div class="container pro-menu pro-menu-dest">
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Flash Controllers</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="SSD Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" target=""
                                  href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise" target=""
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Mobile Storage Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" target=""
                                  href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" target=""
                                  href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Expandable Storage Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card" target=""
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive" target=""
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Storage Solutions</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Ferri Embedded Storage" target="_blank"
                              href="https://smi-product-pages.netlify.app/ferri-embedded-storage.html">
                              <span class="sub-title subtitle-xs">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list"></ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Shannon Datacenter SSDs" target="_blank" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-xs">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list"></ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Bigtera SDS" target="_blank" href="https://www.bigtera.com/">
                              <span class="sub-title subtitle-xs">Bigtera SDS</span>
                            </a>
                            <ul class="pro-menu-list"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Others</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Graphics SoC/GPU" target="_blank"
                              href="https://smi-product-pages.netlify.app/graphics-display-socs.html">
                              <span class="sub-title subtitle-xs">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container pro-menu pro-menu-mobile scrollCusmb mCustomScrollbar" data-mcs-theme="theme">
                    <div class="d-flex">
                      <div>
                        <span class="title title-md">Flash Controllers</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">SSD Controllers</span>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" target=""
                                  href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise" target=""
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">Mobile Storage Controllers</span>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" target=""
                                  href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" target=""
                                  href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">Expandable Storage Controllers</span>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card" target=""
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive" target=""
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Storage Solutions</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">Ferri Embedded Storage</span>
                            <ul class="pro-menu-list"></ul>
                          </div>
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">Shannon Datacenter SSDs</span>
                            <ul class="pro-menu-list"></ul>
                          </div>
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">Bigtera SDS</span>
                            <ul class="pro-menu-list"></ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Others</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                            <ul class="pro-menu-list"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col">
                <a class="navItem" href="https://www.siliconmotion.com/application/applications.html">APPLICATIONS</a>
              </li>
              <li class="nav-col active">
                <a class="navItem hasSiblings" href="javascript:void(0)">COMPANY</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Our Company</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/overview"
                            title="Overview">Overview</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/leadership"
                            title="Leadership">Leadership</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/investor"
                            title="Investors">Investors</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/careers"
                            title="Careers">Careers</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/corporate"
                            title="Corporate Citizenship">Corporate Citizenship</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Media</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/press"
                            title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/upcoming"
                            title="Events">Events</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Contact</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/locations"
                            title="Locations">Locations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">SUPPORT</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Partner</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/sales"
                            title="Distributors/Sales">Distributors/Sales</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Resources</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/download"
                            title="Download Center">Download Center</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Service</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/contact"
                            title="Contact Us">Contact
                            Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
            <div class="header-icon mb"></div>
          </nav>
        </div>
        <div class="minor-menu">
          <div class="header-icon pc">
            <div class="login">
              <a class="now" href="javascript:loginShow();">
                <span>LOGIN</span>
                <i class="icon-login"></i>
              </a>
              <section id="dropmenu-member" class="dropmenu-member">
                <div class="top">
                  <h2 class="title title-lg">Channel Partner Portal Login</h2>
                  <form method="POST" action="https://www.siliconmotion.com/auth/login" accept-charset="UTF-8"
                    @submit="checkLogin"><input name="_token" type="hidden"
                      value="lEQHxxFMg2bufd0Kd0YyCqCYf7uuX7z7TTFHA2VM">
                    <div class="form-group">
                      <label class="col-form-label" for="username">Username：</label>
                      <div class="position-relative">
                        <input id="username" name="email" class="form-control" type="text"
                          placeholder="please enter your email" v-model="username">
                        <small v-show="username_check">required</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="password">Password：</label>
                      <div class="position-relative">
                        <input id="password" name="password" class="form-control" type="password" v-model="password">
                        <small v-show="password_check">required</small>
                      </div>
                    </div>
                    <div class="login-btn-group">
                      <div class="btn btn-bg-primary btn-radius">
                        <button type="submit">Login</button>
                      </div>
                      <a href="https://www.siliconmotion.com/password/forget">Forget password?</a>
                    </div>
                  </form>
                </div>
                <div class="bottom bg-gray">
                  <a class="btn btn-bg-primary btn-radius" href="https://www.siliconmotion.com/registers/entrance"
                    title="Register">Register</a>
                </div>
              </section>
            </div>
            <a class="contact" href="https://www.siliconmotion.com/support/contact" title="CONTACT">
              <span>CONTACT</span>
              <i class="icon-contact"></i>
            </a>
            <div class="lang">
              <div class="now">
                <a href="javascript:void(0)">
                  <i class="icon-lang"></i>
                </a>
              </div>
              <div class="list">
                <a class="changeLang active" href="javascript:;" data-lang="en" title="EN">English</a>
                <a class="changeLang"
                  href="https://www.siliconmotion.com/company/cht/corporate-citizenship-governance.html" data-lang="cht"
                  title="CHT">繁中</a>
                <a class="changeLang"
                  href="https://www.siliconmotion.com/company/chs/corporate-citizenship-governance.html" data-lang="chs"
                  title="CHS">简中</a>
                <a class="changeLang"
                  href="https://www.siliconmotion.com/company/jp/corporate-citizenship-governance.html" data-lang="jp"
                  title="JPN">日本語</a>
                <a class="changeLang"
                  href="https://www.siliconmotion.com/company/kr/corporate-citizenship-governance.html" data-lang="kr"
                  title="KOR">한국어</a>
              </div>
            </div>
            <a class="search" href="javascript:void(0)">
              <i class="fas fa-search search-icon"></i>
              <form method="get" action="https://www.siliconmotion.com/search">
                <input class="line-input str" type="text" name="q" placeholder="Keywords">
              </form>
              <span class="cls-search">
                <i class="fas fa-times-circle"></i>
              </span>
            </a>
          </div>
          <div class="mobi-cover"></div>
          <div class="js-cls--btn">
            <a href="javascript:void(0)" class="navTrigger">
              <i></i>
              <i></i>
              <i></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="banner sec-pd js-fillbg "
      style="background-image: url( images/banner_governance.jpg);background-position: center right;">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h5 class="subtitle subtitle-sm">Our Company</h5>
            <h2 class="title title-xl fc-white">Governance</h2>
          </div>
        </div>
      </div>
    </section>

    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumb-list">
          <li class="item"><a href="https://www.siliconmotion.com/">Home</a></li>
          <li class="item"><a href="javascript:;">Company</a></li>
          <li class="item"><a href="https://www.siliconmotion.com/company/corporate">Corporate Citizenship</a></li>
          <li class="item active"><a href="javascript:;">Governance</a></li>
        </ul>
      </div>
    </div>

    <div class="corporate-citizenship--wrapper">
      <section class="sec-pd" data-aos="fade-up">
        <div class="container">
          <div class="editor">
            <h3>Corporate accountability, integrity and transparency</h3>
            <p>Silicon Motion is committed to principles of corporate governance and policies that help ensure that our
              company is managed with accountability, integrity and transparency, in the best interests of our
              stakeholders, including our shareholders, customers, suppliers, employees and the communities in which we
              operate. Our board of directors sets high standards for our employees, officers and directors and it is
              the duty of the board to serve as a prudent fiduciary of our shareholders and to oversee the management of
              our business. All of our executive officers are appointed by and serve at the discretion of our board of
              directors</p>
          </div>
        </div>
      </section>

      <section class="sec-pd" data-aos="fade-up">
        <div class="container">
          <div class="editor">
            <h3>Board composition and leadership</h3>
            <p>We have a board of nine directors lead by our Chairman. The roles of Chairman and Chief Executive Officer
              are held by separate individuals. This clear separation of management authority from board authority
              empowers the Chairman and CEO to pursue their respective duties independently and we believe this
              arrangement best serves our shareholders and other stakeholders.</p>
            <p>We maintain a majority-independent board with audit, compensation and nominating and corporate governance
              committees comprised entirely of independent directors. Of our nine board directors, two are executive
              directors, one is a non-independent non-executive director and six are independent directors. Directors
              are elected to serve a term of three years, and other than our Chairman and CEO, two directors are subject
              to re-appointment every year. The board selects experienced and dedicated individuals with a diversity of
              backgrounds, perspectives and skills, including in areas relating to management, finance and technology.
            </p>

            <p>Our board of directors has established an audit committee, a compensation committee, and a nominating and
              corporate governance committee.</p>

            <div class="row align-items-center mg_top_30 mg_btm_30" data-aos="fade-up">
              <div class="col-xl-12">
                <h4>Audit Committee</h4>
                <p>The audit committee is responsible for reviewing the financial information that will be provided to
                  shareholders and others, reviewing the systems of internal controls that management and the board of
                  directors have established, appointing, retaining
                  and overseeing the performance of the independent registered public accounting firm, overseeing our
                  accounting and financial reporting processes and the audits of our financial statements, and
                  pre-approving audit and permissible non-audit services
                  provided by the independent registered public accounting firm. Mr. Tsung-Ming Chung, Ms. Lien-Chun
                  Liu, and Mr. Yung-Chien Wang are members of our audit committee. Our board of directors has determined
                  that Mr. Tsung-Ming Chung, the Chairman of the audit committee, is the committee's Financial Expert as
                  required by Nasdaq and SEC rules.</p>
              </div>
            </div>

            <div class="row align-items-center mg_top_30 mg_btm_30" data-aos="fade-up">
              <div class="col-xl-12">
                <h4>Compensation Committee</h4>
                <p>The compensation committee's basic responsibility is to review the performance and development of
                  management in achieving corporate goals and objectives and to assure that our senior executives are
                  compensated effectively in a manner consistent with our strategy, competitive practice, and the
                  requirements of the appropriate regulatory bodies. Toward that end, this committee oversees, reviews,
                  and
                  administers all of our compensation, equity, and employee benefit plans and programs. Mr. Steve Chen,
                  Ms. Lien-Chun Liu and Mr. Yung-Chien Wang are members of our compensation committee, with Mr. Chen
                  serving as the Chairman of the committee.</p>
              </div>
            </div>
            <div class="mg_top_30 mg_btm_30" data-aos="fade-up">
              <h4>Nominating and Corporate Governance Committee</h4>
              <p>The nominating and corporate governance committee is responsible for overseeing, reviewing and making
                periodic recommendations concerning our corporate governance policies, and for recommending to the full
                board of directors candidates for election to the board of directors. Ms. Lien-Chun Liu, Mr. Yung-Chien
                Wang, and Mr. Steve Chen are members of our nominating and corporate governance committee, with Ms. Liu
                serving as the Chairman of the committee.</p>
            </div>
            <div class="mg_top_30 mg_btm_50" data-aos="fade-up">
              <div class="more-info">
                <h4>Committee Composition</h4>
                <p>Below is a summary of our committee structure and membership information. To read more about any of
                  the committees, click on committee names in the chart below.</p>
                <div class="mg_top_30 info">
                  <div class="item">
                    <img src="images/corporate-citizenship/chairperson-icon.svg" alt="">
                    <span>Chairperson</span>
                  </div>
                  <div class="item">
                    <img src="images/corporate-citizenship/member-icon.svg" alt="">
                    <span>Member</span>
                  </div>
                  <div class="item">
                    <img src="images/corporate-citizenship/expert-icon.svg" alt="">
                    <span>Financial Expert</span>
                  </div>
                </div>
                <table class="rwd-table ir-table mg_btm_10">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Audit Committee</th>
                      <th>Compensation Committee</th>
                      <th>Nominating and Corporate Governance Committee</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/n/detail"
                          data-effect="mfp-zoom-in">James Chow</a></th>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/q/detail"
                          data-effect="mfp-zoom-in">Wallace C. Kou</a></th>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/r/detail"
                          data-effect="mfp-zoom-in">Steve Chen</a></th>
                      <td class="d-none d-lg-table-cell"></td>
                      <td data-th="Compensation Committee"><img src="images/corporate-citizenship/chairperson-icon.svg"
                          alt=""></td>
                      <td data-th="Nominating and Corporate Governance Committee"><img
                          src="images/corporate-citizenship/member-icon.svg" alt=""></td>
                    </tr>
                    <tr>
                      <th>
                        <a href="https://www.siliconmotion.com/company/leadership/3HC/detail"
                          data-effect="mfp-zoom-in">Tsung-Ming Chung</a>
                        <img src="images/corporate-citizenship/expert-icon.svg" alt="">
                      </th>
                      <td data-th="Audit Committee"><img src="images/corporate-citizenship/chairperson-icon.svg" alt="">
                      </td>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/3HD/detail"
                          data-effect="mfp-zoom-in">Lien-Chun Liu</a></th>
                      <td data-th="Audit Committee"><img src="images/corporate-citizenship/member-icon.svg" alt=""></td>
                      <td data-th="Compensation Committee"><img src="images/corporate-citizenship/member-icon.svg"
                          alt=""></td>
                      <td data-th="Nominating and Corporate Governance Committee"><img
                          src="images/corporate-citizenship/chairperson-icon.svg" alt=""></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/3HE/detail"
                          data-effect="mfp-zoom-in">Yung-Chien Wang</a></th>
                      <td data-th="Audit Committee"><img src="images/corporate-citizenship/member-icon.svg" alt=""></td>
                      <td data-th="Compensation Committee"><img src="images/corporate-citizenship/member-icon.svg"
                          alt=""></td>
                      <td data-th="Nominating and Corporate Governance Committee"><img
                          src="images/corporate-citizenship/member-icon.svg" alt=""></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/3HF/detail"
                          data-effect="mfp-zoom-in">Han-Ping D. Shieh</a></th>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/3LE/detail"
                          data-effect="mfp-zoom-in">Kenneth Kuan-Ming Lin</a></th>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                    </tr>
                    <tr>
                      <th><a href="https://www.siliconmotion.com/company/leadership/3LG/detail"
                          data-effect="mfp-zoom-in">Nelson Duann</a></th>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                      <td class="d-none d-lg-table-cell"></td>
                    </tr>
                  </tbody>
                </table>
              </div><!-- /.more-info-->
            </div>

          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="mainfooter">
    <div class="container pd_top_30 pd_btm_30">
      <div class="row">
        <div class="col-lg-7">
          <div class="sitemenu">
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/overview">Company</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/investor">Investors</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/careers">Careers</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/sales">Support</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/contact">Contact Us</a>
          </div>
          <div class="sub-brand">
            <a class="imgouter imghover" href="http://en.shannon-sys.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326dc67656.svg" alt="">
            </a>
            <a class="imgouter imghover" href="http://www.bigtera.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326f780148.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-5 text-lg-right mt-3">
          <div class="community">
            <a class="community-list" href="https://www.linkedin.com/company/siliconmotion/" target="_blank">
              <i class="icon-linkedin"></i>
            </a>
            <a class="community-list" href="https://youtu.be/LNCDEd8BKrA" target="_blank">
              <i class="icon-youtube"></i>
            </a>
            <a class="community-list"
              href="https://weibo.com/p/1006066525885619/home?from=page_100606&amp;mod=TAB#place" target="_blank">
              <i class="icon-weibo"></i>
            </a>
            <a class="community-list qrcode-popover" href="javascript:;" data-container="body" data-toggle="popover"
              data-placement="top" data-src="https://www.siliconmotion.com/images/qrcode.jpg">
              <i class="icon-weixin"></i>
            </a>
            <a class="community-list qrcode-modal" href="javascript:;" data-toggle="modal"
              data-target="#qrcodeModerCon">
              <i class="icon-weixin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="minorfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="webrule mb-3 mb-lg-0">
              <a class="webrule-list" href="https://www.siliconmotion.com/policy">PRIVACY POLICY</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/legal">LEGAL</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/sitemap">SITE MAP</a>
            </div>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="copyright">© 2022 Silicon Motion Technology Corp. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="top"></a>
  <div class="modal fade" id="qrcodeModerCon" tabindex="-1" role="dialog" aria-labelledby="qrcodeModerConTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="d-cookie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 col-md-9">
          <div class="d-cookie-block">
            <h3>SILICON MOTION COOKIES NOTICE</h3>
            <p>Silicon Motion websites use cookies to collect information about how you interact with our website and allow us to remember you. We use this information in order to improve and customize your browsing experience and for analytics and metrics about our visitors both on this website and other media. To find out more about the cookies we use, see our <a href="https://www.siliconmotion.com/policy">Privacy Policy</a>.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="d-cookie-block btn">
            <a class="block-link cookie-checked" href="javascript:void(0)">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--[if lt IE 9]><script src="https://www.siliconmotion.com/js/html5.js"></script><![endif]-->
  <script src="https://www.siliconmotion.com/js/lib.js"></script>
  <script src="https://www.siliconmotion.com/js/weya.js"></script>
  <script src="https://www.siliconmotion.com/js/dist/cookies.min.js"></script>
  <script src="js/lang.js"></script>
  <script src="js/sweetalert2.all.min.js"></script>
  <script src="js/stickynav.min.js"></script>
  <script src="https://www.siliconmotion.com/dist/login.js"></script>

</body>

</html>