<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Products-Graphics SoC/GPU-Silicon Motion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Silicon Motion graphics display SoC provides an improved combination of better graphics capability, low latency, efficient data processing and low-power consumption. And is a more cost effective solution for USB display and embedded applications.">
  <meta name="keywords" content="Graphics Display SoCs, Video Wall Solution, USB docking Stations, USB Dongle">
  <meta name="copyright" content="Silicon Motion" />
  <meta name="author" content="Silicon Motion" />
  <meta name="robots" content="all" />
  <link rel="shortcut icon" href="https://www.siliconmotion.com/images/favicon.ico">
  <link rel="prefetch" href="https://www.siliconmotion.com/images/banner_embedded_gpu.jpg" />
  <link rel="canonical" href="https://www.siliconmotion.com" />
  <link rel="alternate" hreflang="en" href="https://www.siliconmotion.com" />
  <link rel="alternate" hreflang="zh-TW" href="https://www.siliconmotion.com/cht" />
  <link rel="alternate" hreflang="zh-CN" href="https://www.siliconmotion.com/chs" />
  <link rel="alternate" hreflang="ja" href="https://www.siliconmotion.com/jp" />
  <link rel="alternate" hreflang="ko" href="https://www.siliconmotion.com/kr" />
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="Silicon Motion" />
  <meta property="og:title" content="4K Ultra High Definition and Low Power | Silicon Motion" />
  <meta property="og:image" content="https://www.siliconmotion.com/product/images/sns-banner_graphics.jpg" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.siliconmotion.com/images/touch-icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.siliconmotion.com/images/touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.siliconmotion.com/images/touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.siliconmotion.com/images/touch-icon-57.png">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://www.siliconmotion.com/css/style.css" rel="stylesheet">
  <link href="css/aos.css" rel="stylesheet">
  <link href="css/style-add.css" rel="stylesheet">
  <link href="css/spinners.css" rel="stylesheet">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NM9NG4W');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM9NG4W" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainheader">
    <div class="ctrl-bar">
      <div class="in-box container">
        <a class="logo" href="https://www.siliconmotion.com/"></a>
        <div class="main-menu">
          <nav class="p-menu dot-menu">
            <ul id="oe_menu" class="mainmenu">
              <li class="nav-col active">
                <a class="navItem hasSiblings" href="javascript:void(0)" title="PRODUCTS">PRODUCTS</a>
                <section class="dropmenu pro-nav">
                  <div class="container pro-menu pro-menu-dest">
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Flash Controllers</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="SSD Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Mobile Storage Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" target=""
                                  href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" target=""
                                  href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Expandable Storage Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card" target=""
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive" target=""
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Storage Solutions</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Ferri Embedded Storage" target=""
                              href="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-xs">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list"></ul>
                          </div>


                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Others</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Graphics SoC/GPU" target="" href="javascript:;">
                              <span class="sub-title subtitle-xs">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="USB Display"
                                  href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">USB
                                  Display</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Embedded GPU"
                                  href="https://www.siliconmotion.com/product/Embedded-GPU.html">Embedded GPU</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="container pro-menu pro-menu-mobile scrollCusmb mCustomScrollbar" data-mcs-theme="theme">
                    <div class="d-flex">
                      <div>
                        <span class="title title-md">Flash Controllers</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="SSD Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-sm">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise"
                                  href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Portable/detail">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable"
                                  href="https://www.siliconmotion.com/products/Automotive/detail">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Mobile Storage Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-sm">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" target=""
                                  href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" target=""
                                  href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Expandable Storage Controllers" target="" href="javascript:;">
                              <span class="sub-title subtitle-sm">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card" target=""
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive" target=""
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Storage Solutions</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Ferri Embedded Storage" target=""
                              href="https://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-sm">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list"></ul>
                          </div>


                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Others</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Graphics SoC/GPU" target="" href="javascript:;">
                              <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="USB Display"
                                  href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">USB
                                  Display</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Embedded GPU"
                                  href="https://www.siliconmotion.com/product/Graphics-Display-SoCs.html">Embedded
                                  GPU</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col">
                <a class="navItem" href="https://www.siliconmotion.com/application/applications.html">APPLICATIONS</a>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">COMPANY</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Our Company</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/overview"
                            title="Overview">Overview</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/leadership"
                            title="Leadership">Leadership</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://siliconmotiontechnologycorporation.gcs-web.com/"
                            title="Investors">Investors</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/careers"
                            title="Careers">Careers</a>
                        </li>


                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/corporate"
                            title="Corporate Citizenship">Corporate Citizenship</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Media</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/press"
                            title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/upcoming"
                            title="Events">Events</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Contact</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/locations"
                            title="Locations">Locations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">SUPPORT</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Partner</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/sales"
                            title="Distributors/Sales">Distributors/Sales</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/registers/entrance"
                            title="Channel Partner Portal">Channel Partner Portal</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Resources</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/download"
                            title="Download Center">Download Center</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Service</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/contact"
                            title="Contact Us">Contact
                            Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
            <div class="header-icon mb"></div>
          </nav>
        </div>
        <div class="minor-menu">
          <div class="header-icon pc">
            <div class="login">
              <a class="now" href="javascript:loginShow();">
                <span>LOGIN</span>
                <i class="icon-login"></i>
              </a>
              <section id="dropmenu-member" class="dropmenu-member">
                <div class="top">
                  <h2 class="title title-lg">Channel Partner Portal Login</h2>
                  <form method="POST" action="https://www.siliconmotion.com/auth/login" accept-charset="UTF-8"
                    @submit="checkLogin"><input name="_token" type="hidden"
                      value="lEQHxxFMg2bufd0Kd0YyCqCYf7uuX7z7TTFHA2VM">
                    <div class="form-group">
                      <label class="col-form-label" for="username">Username：</label>
                      <div class="position-relative">
                        <input id="username" name="email" class="form-control" type="text"
                          placeholder="please enter your email" v-model="username">
                        <small v-show="username_check">required</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="password">Password：</label>
                      <div class="position-relative">
                        <input id="password" name="password" class="form-control" type="password" v-model="password">
                        <small v-show="password_check">required</small>
                      </div>
                    </div>
                    <div class="login-btn-group">
                      <div class="btn btn-bg-primary btn-radius">
                        <button type="submit">Login</button>
                      </div>
                      <a href="https://www.siliconmotion.com/password/forget">Forget password?</a>
                    </div>
                  </form>
                </div>
                <div class="bottom bg-gray">
                  <a class="btn btn-bg-primary btn-radius" href="https://www.siliconmotion.com/registers/entrance"
                    title="Register">Register</a>
                </div>
              </section>
            </div>
            <a class="contact" href="https://www.siliconmotion.com/support/contact" title="CONTACT">
              <span>CONTACT</span>
              <i class="icon-contact"></i>
            </a>
            <div class="lang">
              <div class="now">
                <a href="javascript:void(0)">
                  <i class="icon-lang"></i>
                </a>
              </div>
              <div class="list">
                <a class="changeLang active" href="javascript:;" data-lang="en" title="EN">English</a>
                <a class="changeLang " href="javascript:;" data-lang="cht" title="CHT">繁中</a>
                <a class="changeLang " href="javascript:;" data-lang="chs" title="CHS">简中</a>
                <a class="changeLang " href="javascript:;" data-lang="jp" title="JPN">日本語</a>
                <a class="changeLang " href="javascript:;" data-lang="kr" title="KOR">한국어</a>
              </div>
            </div>
            <a class="search" href="javascript:void(0)">
              <i class="fas fa-search search-icon"></i>
              <form method="get" action="https://www.siliconmotion.com/search">
                <input class="line-input str" type="text" name="q" placeholder="Keywords">
              </form>
              <span class="cls-search"><i class="fas fa-times-circle"></i></span>
            </a>
          </div>
          <div class="mobi-cover"></div>
          <div class="js-cls--btn">
            <a href="javascript:void(0)" class="navTrigger"><i></i><i></i><i></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="banner sec-pd js-fillbg" style="background-image: url( images/banner_embedded_gpu.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h5 class="subtitle subtitle-sm">Graphics SoC/GPU</h5>
            <h2 class="title title-xl fc-white">Embedded GPU</h2>
          </div>
        </div>
      </div>
    </section>
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumb-list">
          <li class="item">
            <a href="https://www.siliconmotion.com/">Home</a>
          </li>
          <li class="item ">
            <a href="https://www.siliconmotion.com/products">Products</a>
          </li>
          <li class="item active">
            <a href="javascript:;">Embedded GPU</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="scrolltosec pt-0 pt-sm-3 pt-md-5 pt-xl-9">

      <div class="filternav js-filter">
        <span class="convertnav-trigger js-convertnav-trigger"></span>
        <div class="container">
          <div class="convertnav js-convertnav">
            <ul class="convertnav__list js-convertnavlist">
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-1">Overview</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-2">Features</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-3">Technologies</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-4">Downloads</a>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- /.filternav -->

      <section id="pro-1" class="pro-1 sec-pd sec-scroll">
        <div class="container">
          <div class="editor">
            <div class="row mb-6">
              <div class="col-md-12">
                <h3>Overview</h3>
                <p>Silicon Motion provides cutting-edge embedded graphics solutions tailored for a wide array of
                  applications, including industrial PCs, servers, high-resolution handheld devices, factory
                  human-machine interfaces, point-of-sale terminals, medical equipment, and casino gaming machines. Our
                  embedded GPU products are thoughtfully packaged within multi-chip modules (MCMs) featuring embedded
                  video memory, offering an optimal balance between cost efficiency, power consumption reduction, and
                  device longevity. The integration of fundamental graphics capabilities empowers our products with
                  exceptional reliability and adaptability to cater to the diverse needs of various industries.</p>
                <p>The Silicon Motion Graphic Display SoCs have been meticulously crafted to cater to diverse
                  application requirements.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>Applications</h3>
                <h4>Server Console</h4>
                <div class="row">
                  <ul class="applications-menu">
                    <li>
                      <a href="javascript:;" target="_blank">
                        <img src="images/applications/icon_graphics-in-bmc.svg" alt="">
                        <span>Graphics IP in BMC Chips</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank">
                        <img src="images/applications/appicon-server.svg" alt="">
                        <span>On-board GPU for Server CPU</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <h4>Panel Application</h4>
                <div class="row">
                  <ul class="applications-menu">
                    <li>
                      <a href="javascript:;" target="_blank">
                        <img src="images/applications/icon_Medical-Panel.svg" alt="">
                        <span>Medical System</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <img src="images/applications/icon_radar-system.svg" alt="">
                        <span>Radar System</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <img src="images/applications/appicon-industrial-pc.svg" alt="">
                        <span>Panel PC / ARM Desktop PC</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <img src="images/applications/icon_rugged-tablet.svg" alt="">
                        <span>Rugged Tablet</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <h4>Single/Multiple Graphics Cards</h4>
                <div class="row">
                  <ul class="applications-menu">
                    <li>
                      <a href="javascript:;" target="_blank">
                        <img src="images/applications/icon_DVR.svg" alt="">
                        <span>DVR</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;" target="_blank">
                        <img src="images/applications/appicon-infotainment-navigation.svg" alt="">
                        <span>Display System in Vehicle</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <img src="images/applications/icon_digital-signal.svg" alt="">
                        <span>Digital Signage</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <img src="images/applications/icon_kiosk.svg" alt="">
                        <span>Kiosk</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /.container-->
      </section>

      <section id="pro-2" class="pro-2 sec-pd sec-scroll bg-gray">
        <div class="container" data-aos="fade-up">
          <div class="editor">
            <h3>Features</h3>
            <ul>
              <li><strong>Versatile Interface Support:</strong> Our embedded GPU solutions offer compatibility with
                multiple interfaces and operating systems, including USB, PCIe, Mini PCIe, and M.2 (PCIe). </li>
              <li><strong>To support a range of operating systems:</strong> Windows 7, 10, 11, and Linux.</li>
              <li><strong>Low Power Consumption:</strong> The SM768 model consumes less than 2.0 watts, ensuring
                consistent and energy-efficient performance.</li>
              <li><strong>Worldwide Technical Support Teams:</strong> We provide dedicated technical support teams
                globally to assist with customization and address your unique requirements.</li>
              <li><strong>Flexible OEM/ODM Services:</strong> allowing customers to tailor the product to their specific
                needs.</li>
            </ul>
          </div><!-- /.editor-->
        </div><!-- /.container-->
      </section>

      <section id="pro-3" class="pro-3 sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor">
            <h3>Technologies</h3>
            <h4>Powering Your Vision with Multiple Interfaces and Dual-Channel Display</h4>
            <p>The SM768 supports multiple interfaces and dual-channel displays, making it an excellent choice for
              various applications, from industrial automation to digital signage and more.</p>

            <div class="row pd_top_50" data-aos="fade-up">
              <div class="col-md-12">
                <img src="images/diagram_EmbeddedGPU-1.png" alt="" />
              </div>
              <p>The SM768 offers unparalleled versatility. Whether you need to integrate it as the primary display
                Graphic SoC with SMI Legacy/UEFI BIOS or use it as an extended display, the SM768 has you covered.</p>
            </div>

            <div class="row pd_top_50" data-aos="fade-up">
              <div class="col-md-12">
                <img src="images/diagram_EmbeddedGPU-2.png" alt="" />
              </div>
            </div>

          </div><!-- /.editor-->
        </div><!-- /.container-->
      </section>

      <section id="pro-4" class="pro-4 sec-pd sec-scroll">
        <div class="container" data-aos="fade-up">
          <div class="editor">
            <h3>Downloads</h3>

            <div class="row mg_btm_30">
              <div class="col-md-12">
                <h4>Product Brief</h4>
                <table class="download-table">
                  <thead>
                    <tr>
                      <th>Documentation</th>
                      <th width="60" class="text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-th="Documentation">
                        <a href="https://www.siliconmotion.com/download/3PR/a/SM768_PB_EN_202004.pdf">SM768</a>
                      </td>
                      <td data-th="Download">
                        <a href="https://www.siliconmotion.com/download/3PR/a/SM768_PB_EN_202004.pdf">
                          <img src="../images/download.svg" alt="Download">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td data-th="Documentation">
                        <a href="https://www.siliconmotion.com/download/3PS/a/SM750_PB_EN_201910.pdf">SM750</a>
                      </td>
                      <td data-th="Download">
                        <a href="https://www.siliconmotion.com/download/3PS/a/SM750_PB_EN_201910.pdf">
                          <img src="../images/download.svg" alt="Download">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- <div class="row mg_btm_30">
              <div class="col-md-12">
                <h4>White Paper</h4>
                <table class="download-table">
                  <thead>
                    <tr>
                      <th>Documentation</th>
                      <th width="60" class="text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-th="Documentation">
                        <a href="https://www.siliconmotion.com/download/3TV/a/SM769_WP_Video_Wall_EN_202001.pdf">Silicon
                          Motion's new video wall solution offers superior picture quality, scalability and
                          flexibility</a>
                      </td>
                      <td data-th="Download">
                        <a href="https://www.siliconmotion.com/download/3TV/a/SM769_WP_Video_Wall_EN_202001.pdf">
                          <img src="../images/download.svg" alt="Download">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td data-th="Documentation">
                        <a href="https://www.siliconmotion.com/download/3PV/a/SM768_WP_Docking_EN_201910.pdf">Silicon
                          Motion's graphics display SoCs Enhance User Experience in USB docking Stations</a>
                      </td>
                      <td data-th="Download">
                        <a href="https://www.siliconmotion.com/download/3PV/a/SM768_WP_Docking_EN_201910.pdf">
                          <img src="../images/download.svg" alt="Download">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td data-th="OS Description">
                        <a
                          href="https://www.siliconmotion.com/download/3PT/a/SM768_WP_4K_High_Definition_EN_201910.pdf">Silicon
                          Motion's graphics display SoCs enable 4K high definition and low power</a>
                      </td>
                      <td data-th="Download">
                        <a
                          href="https://www.siliconmotion.com/download/3PT/a/SM768_WP_4K_High_Definition_EN_201910.pdf">
                          <img src="../images/download.svg" alt="Download">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div> -->

            <div class="row mg_btm_30">
              <div class="col-md-12">
                <h4>Driver</h4>
                <table class="download-table">
                  <thead>
                    <tr>
                      <th>Driver Name</th>
                      <th width="60" class="text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-th="Driver Name">
                        <a href="https://www.siliconmotion.com/downloads/index.html">SM76x driver
                          download</a>
                      </td>
                      <td data-th="Download">
                        <a href="https://www.siliconmotion.com/downloads/index.html">
                          <img src="../images/download.svg" alt="Download">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><!-- /.editor-->
        </div><!-- /.container-->
      </section>

    </div><!-- /.scrolltosec -->

  </main>

  <footer class="mainfooter">
    <div class="container pd_top_30 pd_btm_30">
      <div class="row">
        <div class="col-lg-7">
          <div class="sitemenu">
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/overview">Company</a>
            <a class="sitemenu-list" href="https://siliconmotiontechnologycorporation.gcs-web.com/">Investors</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/careers">Careers</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/sales">Support</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/contact">Contact Us</a>
          </div>
          <div class="sub-brand">
            <a class="imgouter imghover" href="http://en.shannon-sys.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326dc67656.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-5 text-lg-right mt-3">
          <div class="community">
            <a class="community-list" href="https://www.linkedin.com/company/siliconmotion/" target="_blank"><i
                class="icon-linkedin"></i></a>
            <a class="community-list" href="https://youtu.be/LNCDEd8BKrA" target="_blank"><i
                class="icon-youtube"></i></a>
            <a class="community-list"
              href="https://weibo.com/p/1006066525885619/home?from=page_100606&amp;mod=TAB#place" target="_blank"><i
                class="icon-weibo"></i></a>
            <a class="community-list qrcode-popover" href="javascript:;" data-container="body" data-toggle="popover"
              data-placement="top" data-src="images/qrcode.jpg"><i class="icon-weixin"></i></a>
            <a class="community-list qrcode-modal" href="javascript:;" data-toggle="modal"
              data-target="#qrcodeModerCon"><i class="icon-weixin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="minorfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="webrule mb-3 mb-lg-0">
              <a class="webrule-list" href="https://www.siliconmotion.com/policy">PRIVACY POLICY</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/legal">LEGAL</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/sitemap">SITE MAP</a>
            </div>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="copyright">&copy; 2023 Silicon Motion Technology Corp. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="top"></a>
  <div class="modal fade" id="qrcodeModerCon" tabindex="-1" role="dialog" aria-labelledby="qrcodeModerConTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="d-cookie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 col-md-9">
          <div class="d-cookie-block">
            <h3>SILICON MOTION COOKIES NOTICE</h3>
            <p>Silicon Motion websites use cookies to collect information about how you interact with our website and
              allow us to remember you. We use this information in order to improve and customize your browsing
              experience and for analytics and metrics about our visitors both on this website and other media. To find
              out more about the cookies we use, see our <a href="https://www.siliconmotion.com/policy">Privacy
                Policy</a>.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="d-cookie-block btn">
            <a class="block-link cookie-checked" href="javascript:void(0)">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--[if lt IE 9]><script src="https://www.siliconmotion.com/js/html5.js"></script><![endif]-->
  <script src="https://www.siliconmotion.com/js/lib.js"></script>
  <script src="https://www.siliconmotion.com/js/weya.js"></script>
  <script src="https://www.siliconmotion.com/js/dist/cookies.min.js"></script>
  <!-- <script src="js/lang.js"></script> -->
  <script src="js/sweetalert2.all.min.js"></script>
  <script src="js/stickynav.min.js"></script>
  <script src="https://www.siliconmotion.com/dist/login.js"></script>
  <script>
    // Menu elements
    var appMenu = $('.applications-menu > li > a');
    var appMenuClose = $('.submenu-close');
    // Open Submenu
    appMenu.on('click', function (e) {
      e.preventDefault();
      $('.submenu-wrapper.show').removeClass('show');
      $(this).next('.submenu-wrapper').addClass('show');
      // Get and set position and width
      const currentTop = $(this).parent('li').offset().top;
      const currentLeft = $('.applications-menu').offset().left;
      const menuWidth = $('.applications-menu').width();
      $('.submenu-wrapper').css('width', menuWidth);
      $(this).next('.submenu-wrapper').css('top', currentTop);
      $(this).next('.submenu-wrapper').css('left', currentLeft);
    });
    // Close Subment
    appMenuClose.on('click', function (e) {
      $('.submenu-wrapper').removeClass('show');
      e.preventDefault();
    })
  </script>

  <script>
    function menuClose() {
      $('.submenu-wrapper').removeClass('show');
    }
    $(document).on('keyup', function (event) {
      if (event.key == "Escape") {
        menuClose();
      }
    });
    $(window).on('resize', menuClose);
  </script>
</body>

</html>