<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Products-Portable-Silicon Motion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Silicon Motion is the global leader in developing NAND flash controllers for SSDs and other solid state storage devices and the merchant leader in supplying SSD controllers.">
  <meta name="keywords" content="Ssd Controllers,Ssd, PCIe Gen4, PCIe Gen3, NVMe1.3,">
  <meta name="copyright" content="" />
  <meta name="author" content="" />
  <meta name="robots" content="all" />
  <meta name="_globalsign-domain-verification" content="0QcQQ1xkMev46LEBIpsVL8-M0G6dcOeen4PoEEkANN" />
  <link rel="shortcut icon" href="https://www.siliconmotion.com/images/favicon.ico">

  <link rel="canonical" href="https://www.siliconmotion.com/products/portable/detail" />
  <link rel="alternate" hreflang="en" href="https://www.siliconmotion.com/products/portable/detail" />
  <link rel="alternate" hreflang="zh-TW" href="https://www.siliconmotion.com/cht/products/portable/detail" />
  <link rel="alternate" hreflang="zh-CN" href="https://www.siliconmotion.com/chs/products/portable/detail" />
  <link rel="alternate" hreflang="ja" href="https://www.siliconmotion.com/jp/products/portable/detail" />
  <link rel="alternate" hreflang="ko" href="https://www.siliconmotion.com/kr/products/portable/detail" />


  <meta name="theme-color" content="#000">

  <meta name="msapplication-navbutton-color" content="#000">

  <meta name="apple-mobile-web-app-status-bar-style" content="#000">
  <meta property="og:description"
    content="Silicon Motion is the global leader in developing NAND flash controllers for SSDs and other solid state storage devices and the merchant leader in supplying SSD controllers." />
  <meta property="og:site_name" content="Silicon Motion" />
  <meta property="og:title" content="Products-Portable-Silicon Motion" />
  <meta property="og:image" content="https://www.siliconmotion.com/images/facebookShare.jpg" />

  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="https://www.siliconmotion.com/images/touch-icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="https://www.siliconmotion.com/images/touch-icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.siliconmotion.com/images/touch-icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.siliconmotion.com/images/touch-icon-57.png">

  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <link href="https://www.siliconmotion.com/css/style.css" rel="stylesheet">
  <link href="https://www.siliconmotion.com/css/aos.css" rel="stylesheet">



  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900" rel="stylesheet">


  <link href="https://www.siliconmotion.com/dist/spinners.css" rel="stylesheet">
  <meta name="csrf-token" content="lrpdqqHuqM6AuD73wsl0eGXfnog0gE9xOeOdzojR">

  <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-8557027-1');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TZVMCKZ');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TZVMCKZ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="mainheader">
    <div class="ctrl-bar">
      <div class="in-box container">
        <a class="logo" href="https://www.siliconmotion.com"></a>
        <div class="main-menu">
          <nav class="p-menu dot-menu">
            <ul id="oe_menu" class="mainmenu">
              <li class="nav-col active">
                <a class="navItem hasSiblings" href="javascript:void(0)" title="PRODUCTS">PRODUCTS</a>
                <section class="dropmenu pro-nav">

                  <div class="container pro-menu pro-menu-dest">
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Flash Controllers</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise" href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable" href="https://www.siliconmotion.com/product/Portable.html">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Automotive" href="https://www.siliconmotion.com/product/Automotive.html">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-xs">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card" href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive" href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Storage Solutions</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Ferri Embedded Storage" href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-xs">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-xs">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Bigtera SDS" href="http://www.bigtera.com/index/tc/">
                              <span class="sub-title subtitle-xs">Bigtera SDS</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="pro-menu-col row">
                      <div class="col-xl-3 col-lg-12 pb-lg-3">
                        <span class="title title-sm">Others</span>
                      </div>
                      <div class="col-xl-9 col-lg-12">
                        <div class="row">
                          <div class="col-4 pt-3 pt-lg-0 pb-3 pb-lg-0">
                            <a title="Graphics SoC/GPU" href="http://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-xs">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="container pro-menu pro-menu-mobile scrollCusmb mCustomScrollbar" data-mcs-theme="theme">
                    <div class="d-flex">
                      <div>
                        <span class="title title-md">Flash Controllers</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="SSD Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">SSD Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Client" href="https://www.siliconmotion.com/products/client/detail">Client</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Enterprise" href="https://www.siliconmotion.com/products/enterprise/detail">Enterprise</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Portable" href="https://www.siliconmotion.com/product/Portable.html">Portable</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="Automotive" href="https://www.siliconmotion.com/product/Automotive.html">Automotive</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Mobile Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Mobile Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="UFS" href="https://www.siliconmotion.com/products/UFS/detail">UFS</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="eMMC" href="https://www.siliconmotion.com/products/eMMC/detail">eMMC</a>
                              </li>
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Expandable Storage Controllers" href="javascript:;">
                              <span class="sub-title subtitle-sm">Expandable Storage Controllers</span>
                            </a>
                            <ul class="pro-menu-list">
                              <li class="pro-menu-item">
                                <a title="Flash Card"
                                  href="https://www.siliconmotion.com/products/Flash-Card/detail">Flash Card</a>
                              </li>
                              <li class="pro-menu-item">
                                <a title="USB Flash Drive"
                                  href="https://www.siliconmotion.com/products/USB-Flash-Drive/detail">USB Flash
                                  Drive</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Storage Solutions</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Ferri Embedded Storage" href="http://www.siliconmotion.com/product/Ferri-Embedded-Storage.html">
                              <span class="sub-title subtitle-sm">Ferri Embedded Storage</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Shannon Datacenter SSDs" href="http://en.shannon-sys.com/">
                              <span class="sub-title subtitle-sm">Shannon Datacenter SSDs</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                          <div class="pro-menu-col">
                            <a title="Bigtera SDS" href="http://www.bigtera.com/index/tc/">
                              <span class="sub-title subtitle-sm">Bigtera SDS</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div>
                        <span class="title title-md">Others</span>
                        <div class="d-flex">
                          <div class="pro-menu-col">
                            <a title="Graphics SoC/GPU" href="http://www.siliconmotion.com/product/Graphics-Display-SoCs.html">
                              <span class="sub-title subtitle-sm">Graphics SoC/GPU</span>
                            </a>
                            <ul class="pro-menu-list">
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">COMPANY</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Our Company</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/overview"
                            title="Overview">Overview</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/leadership"
                            title="Leadership">Leadership</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://ir.siliconmotion.com/" target="_blank"
                            title="Investors">Investors</a>
                        </li>

                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/careers"
                            title="Careers">Careers</a>
                        </li>


                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/corporate"
                            title="Corporate Citizenship">Corporate Citizenship</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Media</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/press"
                            title="Newsroom">Newsroom</a>
                        </li>
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/upcoming"
                            title="Events">Events</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Contact</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/company/locations"
                            title="Locations">Locations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li class="nav-col ">
                <a class="navItem hasSiblings" href="javascript:void(0)">SUPPORT</a>
                <section class="dropmenu">
                  <div class="menu-block container row justify-content-center">
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Partner</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/sales"
                            title="Distributors/Sales">Distributors/Sales</a>
                        </li>

                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Resources</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/download"
                            title="Download Center">Download Center</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                      <span class="sub-title subtitle-xs">Service</span>
                      <ul class="dropmenu-list">
                        <li>
                          <a class="dropmenu-item" href="https://www.siliconmotion.com/support/contact"
                            title="Contact Us">Contact Us</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
            <div class="header-icon mb"></div>
          </nav>
        </div>
        <div class="minor-menu">
          <div class="header-icon pc">



            <a class="contact" href="https://www.siliconmotion.com/support/contact" title="CONTACT">
              <span>CONTACT</span>
              <i class="icon-contact"></i>
            </a>
            <div class="lang">
              <div class="now">
                <a href="javascript:void(0)">
                  <i class="icon-lang"></i>
                </a>
              </div>
              <div class="list">
                <a class="changeLang active" href="javascript:;" data-lang="en" title="EN">English</a>
                <a class="changeLang " href="javascript:;" data-lang="cht" title="CHT">繁中</a>
                <a class="changeLang " href="javascript:;" data-lang="chs" title="CHS">简中</a>
                <a class="changeLang " href="javascript:;" data-lang="jp" title="JPN">日本語</a>
                <a class="changeLang " href="javascript:;" data-lang="kr" title="KOR">한국어</a>
              </div>
            </div>
            <a class="search" href="javascript:void(0)">
              <i class="fas fa-search search-icon"></i>
              <form method="get" action="https://www.siliconmotion.com/search">
                <input class="line-input str" type="text" name="q" placeholder="Keywords">
              </form>
              <span class="cls-search"><i class="fas fa-times-circle"></i></span>
            </a>
          </div>
          <div class="mobi-cover"></div>
          <div class="js-cls--btn">
            <a href="javascript:void(0)" class="navTrigger"><i></i><i></i><i></i></a>
          </div>
        </div>
      </div>
      <script src="https://www.siliconmotion.com/dist/login.js"></script>
    </div>
  </header>
  <main>
    <section class="banner sec-pd js-fillbg "
      style="background-image: url( images/pagebanner-SM2320.jpg )">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h5 class="subtitle subtitle-sm">SSD Controllers</h5>
            <h2 class="title title-xl fc-white">Portable</h2>
          </div>
        </div>
      </div>

    </section>
    <div class="breadcrumbs">
      <div class="container">
        <ul class="breadcrumb-list">
          <li class="item">
            <a href="https://www.siliconmotion.com">Home</a>
          </li>
          <li class="item ">
            <a href="https://www.siliconmotion.com/products">Products</a>
          </li>
          <li class="item active">
            <a href="javascript:;">Portable</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="scrolltosec pt-0 pt-sm-3 pt-md-5 pt-xl-9">

      <div class="filternav js-filter">
        <span class="convertnav-trigger js-convertnav-trigger"></span>
        <div class="container">
          <div class="convertnav js-convertnav">
            <ul class="convertnav__list js-convertnavlist">
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem active" href="#pro-1">Overview</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-2">Features</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-3">Technologies</a>
              </li>
              <li class="convertnav__lilist">
                <a class="convertnav__item js-convertnavitem" href="#pro-4">Selection Guide</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <section id="pro-1" class="pro-1 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <div class="mb-5">
              <h3>Overview</h3>
              <p>Silicon Motion's portable SSD controller solution is a single-chip solution equips with USB 3.2 Gen2 x 2 interfaces with 20Gb/s bandwidth, with the fully integrated hardware and software solution. It enables the ultra-high speed data transfer between PC and external SSD while enabling new SSD designs to take full advantage of high-density NAND Flash, including the latest generation of 12x-layer QLC NAND. </p>
              <p>Because it can interface directly to the host without the need for an external bridge chip, it enables manufacturers of external SSDs to reduce system size and lower their Bill-Of-Materials (BOM) cost.</p>
            </div>

            <div class="mb-5">
              <h4>SMALLER SIZE, MORE STORAGE</h4>
              <figure>
                <img src="images/diagram-portable-1.jpg" alt="">
              </figure>
            </div>

            <div class="mb-5">
              <h4>The World's Fastest Portable SSD Controller</h4>
              <ul>
                <li>Up to 2,100 MB/s Seq. Read</li>
                <li>Up to 2,000 MB/s Seq. Write</li>
              </ul>
              <figure>
                <img src="images/diagram-portable-2.jpg" alt="">
              </figure>
              <figure>
                <img src="images/diagram-portable-3.jpg" alt="Up to 4x faster than USB 3.0 HDD">
              </figure>
            </div>

          </div>
        </div>
      </section>

      <section id="pro-2" class="pro-2 bg-gray sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Features</h3>

            <div class="mb-5">
              <h5>High Data Integrity and Security</h5>
              <ul>
                <li>Supports Fingerprint Secure</li>
                <li>Self-encrypting drive (SED) with AES 128/256 and TCG Opal</li>
                <li>Data retention extension with NANDXtend</li>
              </ul>
            </div>

            <div class="mb-5">
              <h5>Broad host Device Compatibility</h5>
              <ul>
                <li>Compatible with Windows 7 and later version, Mac OS 10.x and Linux kernel v2.4</li>
                <li>Compatible with USB Type-C Spec. Release 1.3</li>
                <li>Supports Type-C CC Logi</li>
              </ul>
            </div>

            <div class="">
              <h5>Best-in-class Low Power Consumption</h5>
              <ul>
                <li>Supports Flash devices operating at VCCQ 1.2V/1.8V</li>
                <li>Controller core operates from low-power 0.9V supply bus</li>
              </ul>
            </div>
              
          </div>
        </div>
      </section>

      <section id="pro-3" class="pro-3 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="editor">

            <h3>Technologies</h3>

            <div class="mb-5">
              <h4>Multi-device Compatibility</h4>
              <p>The Silicon Motion's portable SSD controllers are compatible with any device that has a USB Type-C connector, including PC, Mac, NB, Tablets, Android devices, smart phones and gaming consoles.</p>
            </div>
            
            <div class="mb-5">
              <h4>Executive Fingerprint Secure Up </h4>
              <p>Silicon Motion's portable SSD controllers deliver the highest level of data security by providing a Self-encrypting drive (SED) with AES 128/256-bit encryption, Fingerprint Secure and full compliance with Trusted Computing Group (TCG) Opal specification.</p>
            </div>
            
            <div class="mb-5">
              <h4>NANDXtend® ECC Technology</h4>
              <p>Leveraging Silicon Motion's proprietary NANDXtend® error-correcting code (ECC) technology, the
              Portable SSD controllers enhance the endurance and data retention of 3D NAND, and provide comprehensive protection of data integrity through SRAM ECC and End-to-End data path protection. </p>
            </div>
            
          </div>
        </div>
      </section>

      <section id="pro-4" class="pro-4 sec-pd sec-scroll" data-aos="fade-up">
        <div class="container">
          <div class="more-download" style="margin-bottom: 200px;">
            <h2 class="title title-xl mg_btm_20">Selection Guide</h2>
            <table class="rwd-table" id="app">
              <thead>
                <tr>
                  <th style="width: auto;">Product</th>
                  <th>Host</th>
                  <th>Flash I/F</th>
                  <th>ECC Support</th>
                  <th>Flash VCCQ Support</th>
                  <th>Capacity</th>
                  <th>TCG/AES</th>
                  <th>Package</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td data-th="Product">SM2320</td>
                  <td data-th="Host">USB 3.2 Gen2 x 2</td>
                  <td data-th="Flash I/F">4-CH</td>
                  <td data-th="ECC Support">Yes</td>
                  <td data-th="Flash VCCQ Support">Yes</td>
                  <td data-th="Capacity">4TB</td>
                  <td data-th="TCG/AES">Yes</td>
                  <td data-th="Package">TFBGA<br>(9mm x 9mm)</td>
                </tr>
                <tr>
                  <td data-th="Product">SM2321</td>
                  <td data-th="Host">USB 3.2 Gen2 x 1</td>
                  <td data-th="Flash I/F">2-CH</td>
                  <td data-th="ECC Support">Yes</td>
                  <td data-th="Flash VCCQ Support">Yes</td>
                  <td data-th="Capacity">4TB</td>
                  <td data-th="TCG/AES">Yes</td>
                  <td data-th="Package">TFBGA<br>(9mm x 9mm)</td>
                </tr>
            </table>
          </div>
        </div>
      </section>

    </div>
    <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form method="POST" action="https://www.siliconmotion.com/download" accept-charset="UTF-8" id="wyForm"
            target="_blank"><input name="_token" type="hidden" value="lrpdqqHuqM6AuD73wsl0eGXfnog0gE9xOeOdzojR">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Non-disclosure agreement</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-html="row.nda"></div>
            <div class="modal-footer">
              <input type="hidden" name="id" :value="row.id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Disagree</button>
              <button type="button" class="btn btn-primary" @click.prevent="submit('wyForm')"
                v-if="!onload">Agree</button>

              <button class="btn btn-primary" type="button" disabled v-if="onload">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer class="mainfooter">
    <div class="container pd_top_30 pd_btm_30">
      <div class="row">
        <div class="col-lg-7">
          <div class="sitemenu">
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/overview">Company</a>
            <a class="sitemenu-list" href="https://ir.siliconmotion.com/">Investors</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/company/careers">Careers</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/sales">Support</a>
            <a class="sitemenu-list" href="https://www.siliconmotion.com/support/contact">Contact Us</a>
          </div>
          <div class="sub-brand">
            <a class="imgouter imghover" href="http://en.shannon-sys.com/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326dc67656.svg" alt="">
            </a>
            <a class="imgouter imghover" href="http://www.bigtera.com/index/tc/" target="_blank">
              <img src="https://www.siliconmotion.com/uploads/brands/5f6326f780148.svg" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-5 text-lg-right mt-3">
          <div class="community">
            <a class="community-list" href="https://www.linkedin.com/company/siliconmotion/" target="_blank"><i
                class="icon-linkedin"></i></a>
            <a class="community-list" href="https://www.youtube.com/channel/UCB4_AXjqQV_LgCRlNgzsctQ" target="_blank"><i
                class="icon-youtube"></i></a>
            <a class="community-list"
              href="https://weibo.com/p/1006066525885619/home?from=page_100606&amp;mod=TAB#place" target="_blank"><i
                class="icon-weibo"></i></a>

            <a class="community-list qrcode-popover" href="javascript:;" data-container="body" data-toggle="popover"
              data-placement="top" data-src="https://www.siliconmotion.com/images/qrcode.jpg"><i
                class="icon-weixin"></i></a>

            <a class="community-list qrcode-modal" href="javascript:;" data-toggle="modal"
              data-target="#qrcodeModerCon"><i class="icon-weixin"></i></a>
          </div>


        </div>
      </div>
    </div>
    <div class="minorfooter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="webrule mb-3 mb-lg-0">
              <a class="webrule-list" href="https://www.siliconmotion.com/policy">PRIVACY POLICY</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/legal">LEGAL</a>
              <a class="webrule-list" href="https://www.siliconmotion.com/sitemap">SITE MAP</a>
            </div>
          </div>
          <div class="col-lg-6 text-lg-right">
            <div class="copyright">© 2021 Silicon Motion Technology Corp. All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a id="top"></a>
  <div class="modal fade" id="qrcodeModerCon" tabindex="-1" role="dialog" aria-labelledby="qrcodeModerConTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <img src="https://www.siliconmotion.com/images/qrcode.jpg">
        </div>
      </div>
    </div>
  </div>
  <form method="POST" action="https://www.siliconmotion.com/change-lang" accept-charset="UTF-8" id="langForm"><input
      name="_token" type="hidden" value="lrpdqqHuqM6AuD73wsl0eGXfnog0gE9xOeOdzojR">
    <input name="currentUrl" type="hidden" value="products/portable/detail">
    <input id="changeLang" name="changeLang" type="hidden">
  </form>
  <!-- <div class="d-cookie">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-10 col-md-9">
          <div class="d-cookie-block">
            <h3>SILICON MOTION COOKIES NOTICE</h3>
            <p>Silicon Motion websites use cookies to collect information about how you interact with our website and
              allow us to remember you. We use this information in order to improve and customize your browsing
              experience and for analytics and metrics about our visitors both on this website and other media. To find
              out more about the cookies we use, see our <a href="https://www.siliconmotion.com/policy">Privacy
                Policy</a>.</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="d-cookie-block btn">
            <a class="block-link cookie-checked" href="javascript:void(0)">Accept</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--[if lt IE 9]><script src="https://www.siliconmotion.com/js/html5.js"></script><![endif]-->
  <script src="https://www.siliconmotion.com/js/lib.js"></script>
  <script src="https://www.siliconmotion.com/js/weya.js"></script>
  <script src="https://www.siliconmotion.com/js/dist/cookies.min.js"></script>
  <script src="https://www.siliconmotion.com/js/lang.js"></script>
  <script src="https://www.siliconmotion.com/plugins/sweetalert2.all.min.js"></script>
  <script id="api" type="application/json">{"agree":"https:\/\/www.siliconmotion.com\/download\/agree"}</script>
  <script src="https://www.siliconmotion.com/js/dist/stickynav.min.js"></script>
  <script src="https://www.siliconmotion.com/dist/product-download.js"></script>
</body>

</html>